<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="../css/style.css" rel="stylesheet" />
  <link href="../css/styling.css" rel="stylesheet" />
  <title>uGive</title>
</head>

<body>
  <!-- HEADER -->
  <header class="mainHeader">
    <!-- Logo -->
    <div class="mainHeader_logo"><a href="/">uGive</a></div>
    <!-- Nav -->
    <nav class="mainHeader_nav">
      <ul class="menu">
        <a href="/about">
          <li class="menu-item">About</li>
        </a>
        <a href="/rewards">
          <li class="menu-item menu-active">Rewards</li>
        </a>
        <a href="/blog">
          <li class="menu-item">Articles</li>
        </a>
        <a href="/schedule">
          <li class="menu-item">Schedule pickup</li>
        </a>
        <% if(user) { %>
          <a href="/editprofile">
            <li>My Profile</li>
          </a>
          <p>Hello <%= user %>
          </p>
          <% } %>
      </ul>
      <div class="hamburger">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </nav>
    <!-- Sign in btn -->
    <div class="mainHeader_signupBtn">
      <% if(user) { %>
        <a href="/logout" class="primaryBtn">Logout</a>
        <% } else { %>
          <a href="/login" class="primaryBtn">Sign Up/Login</a>
          <% } %>
            <ul class="mainHeader_mobileMenu">
              <a href="/about">
                <li class="menu-item">About</li>
              </a>
              <a href="/rewards">
                <li class="menu-item">Rewards</li>
              </a>
              <a href="/blog">
                <li class="menu-item">Articles</li>
              </a>
              <a href="/schedule">
                <li class="menu-item">Schedule pickup</li>
              </a>
            </ul>
  </header>
  <!-- END OF HEADER -->

  <!-- HERO SECTION -->
  <section class="blogpostSection">
    <img class="blogpost-banner-img" src="img/article-img-2.jpeg" />
    <div class="blogpost-body">
      <div class="blogpost-headerdiv">
        <h1>Title</h1>
        <p>Written By: Author</p>
      </div>
      <div class="blogpost-content">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. In velit nisl, maximus vitae sagittis et, commodo vel
          odio. Vestibulum condimentum urna vel nisl aliquet,
          non consectetur massa blandit. Nunc elit nulla, fermentum eu massa et, ultrices interdum purus. Nunc viverra
          orci lacus, non tempus dolor ullamcorper et.
          Mauris gravida varius est, non aliquet arcu vehicula vel. Aenean vitae leo porttitor, condimentum mauris sed,
          gravida dolor.
          Nulla dolor arcu, ultricies ac tempus ac, gravida vitae ipsum. Ut a lobortis diam. Cras ligula diam,
          ullamcorper at rhoncus et, euismod ac lectus.
          Aenean et mauris erat. Curabitur et nunc a turpis accumsan consequat quis nec sapien. Donec nibh sem, blandit
          sit amet turpis vel, feugiat auctor libero.
          Duis facilisis malesuada ultrices. Suspendisse aliquet mauris dapibus bibendum aliquam.

          Vivamus non tellus at turpis tristique lobortis. Quisque sed nunc vel mauris venenatis cursus eu quis nibh.
          Sed erat mauris, egestas non aliquet id, hendrerit in justo. In tincidunt, leo vitae sagittis sodales, lorem
          est pharetra orci, quis viverra erat erat gravida quam. Aliquam posuere ligula in orci tincidunt, non
          tincidunt massa sodales. Nunc leo magna, malesuada eu lobortis sed, tempor dignissim lorem. Suspendisse rutrum
          mauris non pretium congue. Nulla ac lacinia arcu. Curabitur nisi mi, rhoncus sit amet gravida dignissim,
          rhoncus sit amet felis.
        </p>
      </div>
    </div>
  </section>
  <!-- END OF HERO SECTION -->

  <!-- FOOTER -->
  <footer class="footer">
    <div class="footer_top">
      <div class="footer_top_col col-1">
        <h2>FAQs</h2>
        <a href="/FAQ"><p>How do I get started?</p></a>
        <a href="/FAQ"><p>What items can I donate?</p></a>
        <a href="/FAQ"><p>View more > </p></a>
      </div>
      <div class="footer_top_col col-2">
        <h2>Support</h2>
        <p>Operating hours: 11am to 6pm daily</p>
        <p>Email us: contact@uGive.com </p>
        <p>Call us: 6123 5678</p>
        <p>Leave a feedback > </p>
      </div>
      <div class="footer_top_logo">
        <p>uGive</p>
      </div>
    </div>
    <div class="footer_btm">
      <p>Copyright uGive 2022</p>
    </div>
  </footer>
</body>
</html>