<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="../css/style.css" rel="stylesheet" />
  <link href="../css/styling.css" rel="stylesheet" />
  <title>uGive</title>
</head>

<body>
  <!-- HEADER -->
  <header class="mainHeader">
    <!-- Logo -->
    <div class="mainHeader_logo"><a href="/">uGive</a></div>
    <!-- Nav -->
    <nav class="mainHeader_nav">
      <ul class="menu">
        <a href="/about"> <li class="menu-item">About</li></a>
        <a href="/rewards"><li class="menu-item">Rewards</li></a>
        <a href="/blog"><li class="menu-item">Articles</li></a>
        <% if(user || admin) { %>
        <a href="/schedule"><li class="menu-item">Schedule pickup</li></a>
        <% } else { %>
        <a href="/login"><li class="menu-item">Schedule pickup</li></a>
        <% } %>
        <% if(user && admin == undefined) { %>
          <a href="/editprofile"><li>My Profile</li></a><p>Hello <%= user %></p>
          <% } else if (user && admin == 1) { %>
            <a href="/manage-booking"><li>Admin Settings</li></a>
          <% } %>
      </ul>
      <div class="hamburger">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </nav>
    <!-- Sign in btn -->
    <div class="mainHeader_signupBtn">
      <% if(user) { %>
        <a href="/logout" class="primaryBtn">Logout</a>
        <% } else { %>
          <a href="/login" class="primaryBtn">Sign Up/Login</a>
          <% } %>
            <ul class="mainHeader_mobileMenu">
              <a href="/about">
                <li class="menu-item">About</li>
              </a>
              <a href="/rewards">
                <li class="menu-item">Rewards</li>
              </a>
              <a href="/blog">
                <li class="menu-item">Articles</li>
              </a>
              <a href="/schedule">
                <li class="menu-item">Schedule pickup</li>
              </a>
            </ul>
  </header>
  <!-- END OF HEADER -->

  <!-- HERO SECTION -->
  <section class="blogpostSection">
    <div class="article-headerdiv">
      <h1>Welcome to the uGive Knowledge Vault!</h1>
      <p>Here you can view articles regarding charity and things you can start doing to contribute to giving and
        donations</p>
    </div>
    <div class="article-scrolldiv">
      <div class="article-divbox">
        <div class="article-img">
          <img src="img/article-img-1.jpg" />
        </div>
        <div class="article-content">
          <p class="article-cate">How-to</p>
          <h2 class="article-title">Need help navigating our website?</h2><br>
          <p class="article-author">Written By: Sally Teo</p><br>
          <p class="article-exc">
            To get started, simply register for an account with us to unlock all features! Here, you can schedule
            doorstep pick-up services
            and earn reward points for donating your items and redeem attractive rewards!<br><br><a class="reading-tag"
              href="/article">Continue Reading ></a>
          </p>
        </div>
      </div>
      <div class="article-divbox">
        <div class="article-img">
          <img src="img/article-img-2.jpeg" />
        </div>
        <div class="article-content">
          <p class="article-cate">Charity</p>
          <h2 class="article-title">Learn how else you can contribute</h2><br>
          <p class="article-author">Written By: John Doe</p><br>
          <p class="article-exc">
            Do not have any items to donate? Fret not! Learn how you can contribute monetarily by sponsoring meals and
            activities to help
            with social programmes in elderly homes.<br><br><a class="reading-tag" href="/article">Continue Reading
              ></a>
          </p>
        </div>
      </div>
      <div class="article-divbox">
        <div class="article-img">
          <img src="img/article-img-3.jpg" />
        </div>
        <div class="article-content">
          <p class="article-cate">How-to</p>
          <h2 class="article-title">What can I donate?</h2><br>
          <p class="article-author">Written By: Lucas Harper</p><br>
          <p class="article-exc">
            With our one-stop platform, you can donate items ranging from used clothing to electrical appliances to
            stationery and even old furniture!
            No matter what pre-loved items you are willing to give up, we will make sure it gets the second life it
            deserves.<br><br><a class="reading-tag" href="/article">Continue Reading ></a>
          </p>
        </div>
      </div>
      <div class="article-divbox">
        <div class="article-img">
          <img src="img/article-img-4.webp" />
        </div>
        <div class="article-content">
          <p class="article-cate">Charity</p>
          <h2 class="article-title">Has online donation taken over traditional giving methods?</h2><br>
          <p class="article-author">Written By: Charlotte Jo</p><br>
          <p class="article-exc">
            With the rise of online monetary donation platforms, have offline giving methods become obsolete? While
            online platforms are becoming the norm,
            there are still doubts of whether our personal data stays private when we donate online. How can we ensure
            safety when contributing online? <br><br><a class="reading-tag" href="/article">Continue Reading ></a>
          </p>
        </div>
      </div>
      <div class="article-divbox">
        <div class="article-img">
          <img src="img/article-img-5.jpeg" />
        </div>
        <div class="article-content">
          <p class="article-cate">Charity</p>
          <h2 class="article-title">Learn how you can save the world just by donating your used items!</h2><br>
          <p class="article-author">Written By: Ng Yu Xin</p><br>
          <p class="article-exc">
            With diposal being much more convenient than donating, the amount of waste generated yearly are on the rise.
            Learn how a simple act of donation
            can help save Singapore and our limited landfill that might be running out of space sooner than predicted.
            <br><br><a class="reading-tag" href="/article">Continue Reading ></a>
          </p>
        </div>
      </div>
    </div>
  </section>
  <!-- END OF HERO SECTION -->

  <!-- FOOTER -->
  <footer class="footer">
    <div class="footer_top">
      <div class="footer_top_col col-1">
        <h2>FAQs</h2>
        <a href="/FAQ">
          <p>How do I get started?</p>
        </a>
        <a href="/FAQ">
          <p>What items can I donate?</p>
        </a>
        <a href="/FAQ">
          <p>View more > </p>
        </a>
      </div>
      <div class="footer_top_col col-2">
        <h2>Support</h2>
        <p>Operating hours: 11am to 6pm daily</p>
        <p>Email us: contact@uGive.com </p>
        <p>Call us: 6123 5678</p>
        <p>Leave a feedback > </p>
      </div>
      <div class="footer_top_logo">
        <p>uGive</p>
      </div>
    </div>
    <div class="footer_btm">
      <p>Copyright uGive 2022</p>
    </div>
  </footer>
</body>

</html>