<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="../css/style.css" rel="stylesheet" />
  <link href="../css/styling.css" rel="stylesheet" />
  <title>uGive</title>
</head>

<body>
  <!-- HEADER -->
  <header class="mainHeader">
    <!-- Logo -->
    <div class="mainHeader_logo"><a href="/">uGive</a></div>
    <!-- Nav -->
    <nav class="mainHeader_nav">
      <ul class="menu">
        <a href="/about">
          <li class="menu-item">About</li>
        </a>
        <a href="/rewards">
          <li class="menu-item menu-active">Rewards</li>
        </a>
        <a href="/blog">
          <li class="menu-item">Articles</li>
        </a>
        <a href="/schedule">
          <li class="menu-item">Schedule pickup</li>
        </a>
        <% if(user) { %>
          <p><a href="/editprofile">Hello <%= user %></a></p>
          <% } %>
      </ul>
      <div class="hamburger">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </nav>
      <!-- Sign in btn -->
      <div class="mainHeader_signupBtn">
        <% if(user) { %>
          <a href="/logout" class="primaryBtn">Logout</a>
          <% } else { %>
            <a href="/login" class="primaryBtn">Sign Up/Login</a>
        <% } %>
    <ul class="mainHeader_mobileMenu">
      <a href="/about">
        <li class="menu-item">About</li>
      </a>
      <a href="/rewards">
        <li class="menu-item">Rewards</li>
      </a>
      <a href="/blog">
        <li class="menu-item">Articles</li>
      </a>
      <a href="/schedule">
        <li class="menu-item">Schedule pickup</li>
      </a>
    </ul>
  </header>
  <!-- END OF HEADER -->

  <!-- HERO SECTION -->
  <section class="blogpostSection">
    <div class="article-headerdiv">
      <h1>Welcome to the uGive Knowledge Vault!</h1>
      <p>Here you can view articles regarding charity and things you can start doing to contribute to giving and
        donations</p>
    </div>
    <div class="article-scrolldiv">
      <div class="article-divbox">
        <div class="article-img">
          <img src="img/article-img-1.jpeg" />
        </div>
        <div class="article-content">
          <p class="article-cate">Charity</p>
          <h2 class="article-title">Lorem Ipsum</h2>
          <p class="article-author">Written By: John Doe</p>
          <p class="article-exc">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur in
            diam nulla. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Curabitur in diam nulla.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur in
            diam nulla. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Curabitur in diam nulla.<a class="reading-tag" href="/article">Continue Reading ></a>
          </p>
        </div>
      </div>
      <div class="article-divbox">
        <div class="article-img">
          <img src="img/article-img-2.jpeg" />
        </div>
        <div class="article-content">
          <p class="article-cate">Charity</p>
          <h2 class="article-title">Lorem Ipsum</h2>
          <p class="article-author">Written By: John Doe</p>
          <p class="article-exc">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur in
            diam nulla. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Curabitur in diam nulla.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur in
            diam nulla. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Curabitur in diam nulla.<a class="reading-tag" href="/article">Continue Reading ></a>
          </p>
        </div>
      </div>
      <div class="article-divbox">
        <div class="article-img">
          <img src="img/article-img-3.webp" />
        </div>
        <div class="article-content">
          <p class="article-cate">Charity</p>
          <h2 class="article-title">Lorem Ipsum</h2>
          <p class="article-author">Written By: John Doe</p>
          <p class="article-exc">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur in
            diam nulla. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Curabitur in diam nulla.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur in
            diam nulla. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Curabitur in diam nulla.<a class="reading-tag" href="/article">Continue Reading ></a>
          </p>
        </div>
      </div>
      <div class="article-divbox">
        <div class="article-img">
          <img src="img/article-img-1.jpeg" />
        </div>
        <div class="article-content">
          <p class="article-cate">Charity</p>
          <h2 class="article-title">Lorem Ipsum</h2>
          <p class="article-author">Written By: John Doe</p>
          <p class="article-exc">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur in
            diam nulla. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Curabitur in diam nulla.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur in
            diam nulla. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Curabitur in diam nulla.<a class="reading-tag" href="/article">Continue Reading ></a>
          </p>
        </div>
      </div>
      <div class="article-divbox">
        <div class="article-img">
          <img src="img/article-img-2.jpeg" />
        </div>
        <div class="article-content">
          <p class="article-cate">Charity</p>
          <h2 class="article-title">Lorem Ipsum</h2>
          <p class="article-author">Written By: John Doe</p>
          <p class="article-exc">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur in
            diam nulla. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Curabitur in diam nulla.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur in
            diam nulla. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Curabitur in diam nulla.<a class="reading-tag" href="/article">Continue Reading ></a>
          </p>
        </div>
      </div>
    </div>
  </section>
  <!-- END OF HERO SECTION -->

  <!-- FOOTER -->
  <footer class="footer">
    <div class="footer_top">
      <div class="footer_top_col col-1">
        <h2>FAQs</h2>
        <p>Lorem ipsum dolor sit amet ?</p>
        <p>Lorem ipsum dolor sit amet ?</p>
        <p>Lorem ipsum dolor sit amet ?</p>
      </div>
      <div class="footer_top_col col-2">
        <h2>Support</h2>
        <p>Lorem ipsum dolor sit amet ?</p>
        <p>Lorem ipsum dolor sit amet ?</p>
        <p>Lorem ipsum dolor sit amet ?</p>
      </div>
      <div class="footer_top_logo">
        <p>uGive</p>
      </div>
    </div>
    <div class="footer_btm">
      <p>Copyright uGive 2022</p>
    </div>
  </footer>
</body>

</html>