<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="../css/style.css" rel="stylesheet" />
  <link href="../css/styling.css" rel="stylesheet" />
  <script type="text/javascript" src="scripts/script.js"></script>
  <title>uGive</title>
</head>

<body>
  <!-- HEADER -->
  <header class="mainHeader">
    <!-- Logo -->
    <div class="mainHeader_logo"><a href="/">uGive</a></div>
    <!-- Nav -->
    <nav class="mainHeader_nav">
      <ul class="menu">
        <a href="/about">
          <li class="menu-item">About</li>
        </a>
        <a href="/rewards">
          <li class="menu-item">Rewards</li>
        </a>
        <a href="/blog">
          <li class="menu-item">Articles</li>
        </a>
        <a href="/schedule">
          <li class="menu-item">Schedule pickup</li>
        </a>
        <% if (user && admin==1) { %>
          <a href="/manage-booking">
            <li>Admin Settings</li>
          </a>
          <% } %>
      </ul>
      <div class="hamburger">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </nav>
    <!-- Sign in btn -->
    <div class="mainHeader_signupBtn">
      <% if(user) { %>
        <a href="/logout" class="primaryBtn">Logout</a>
        <% } else { %>
          <a href="/login" class="primaryBtn">Sign Up/Login</a>
          <% } %>
            <ul class="mainHeader_mobileMenu">
              <a href="/about">
                <li class="menu-item">About</li>
              </a>
              <a href="/rewards">
                <li class="menu-item">Rewards</li>
              </a>
              <a href="/blog">
                <li class="menu-item">Articles</li>
              </a>
              <a href="/schedule">
                <li class="menu-item">Schedule pickup</li>
              </a>
            </ul>
  </header>
  <!-- END OF HEADER -->

  <!-- HERO SECTION -->
  <section class="viewbooking-section">
    <div class="profile-sidebar">
      <h2>
        Administration Options
      </h2>
      <ul class="profile-list">
        <li class="profile-list-item"><a href="/manage-booking">Manage Bookings</a></li>
        <li class="profile-list-item item-active"><a href="/booking-archive">View Archive</a></li>
        <li class="profile-list-item"><a href="/logout">Logout</a></li>
      </ul>
    </div>
    <div class="viewbooking-main">
      <h2>Archived Appointments</h2>
      <div class="upcoming-booking-line"></div>
      <div class="upcoming-booking-container">
        <div class="user-search-container">
          <input class="search-user-input" id="search-user-input" type="text" name="user-query"
            onkeyup="searchForUser(this.id)" placeholder="Search for a user via their username..." />
        </div>
        <% if(bookings) { %>
          <% bookings.forEach(function(booking){ %>
            <div class="m-booking-divbox">
              <div class="m-booking-left-container">
                <p class="booking-divbox-header">Date and Time of Appointment: </p>
                <p>
                  <%= booking.date %> at <%= booking.time %> Hrs
                </p><br>
                <p class="booking-divbox-header">Point of Contact: </p>
                <p id="username">
                  <%= booking.username %>
                </p><br>
                <p class="booking-divbox-header">User Mobile Number: </p>
                <p>
                  <%= booking.mobileNumber %>
                </p><br>
                <p class="booking-divbox-header">User Address: </p>
                <p>
                  <%= booking.address %>, Singapopore <%= booking.postalCode%>
                </p><br>
              </div>
            </div>
            <% }) %>
              <% } else { %>
                <p class="view-booking-none-para">There are currently no archived appointments in the database to
                  reference.</p>
                <% } %>
      </div>
    </div>
  </section>
  <!-- END OF HERO SECTION -->

  <!-- FOOTER -->
  <footer class="footer">
    <div class="footer_top">
      <div class="footer_top_col col-1">
        <h2>FAQs</h2>
        <a href="/FAQ">
          <p>How do I get started?</p>
        </a>
        <a href="/FAQ">
          <p>What items can I donate?</p>
        </a>
        <a href="/FAQ">
          <p>View more > </p>
        </a>
      </div>
      <div class="footer_top_col col-2">
        <h2>Support</h2>
        <p>Operating hours: 11am to 6pm daily</p>
        <p>Email us: contact@uGive.com </p>
        <p>Call us: 6123 5678</p>
        <p>Leave a feedback > </p>
      </div>
      <div class="footer_top_logo">
        <p>uGive</p>
      </div>
    </div>
    <div class="footer_btm">
      <p>Copyright uGive 2022</p>
    </div>
  </footer>
</body>

</html>