<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="../css/style.css" rel="stylesheet" />
  <link href="../css/styling.css" rel="stylesheet" />
  <title>uGive</title>
</head>

<body>
  <!-- HEADER -->
  <header class="mainHeader">
    <!-- Logo -->
    <div class="mainHeader_logo"><a href="/">uGive</a></div>
    <!-- Nav -->
    <nav class="mainHeader_nav">
      <ul class="menu">
        <a href="/about">
          <li class="menu-item">About</li>
        </a>
        <a href="/rewards">
          <li class="menu-item menu-active">Rewards</li>
        </a>
        <a href="/blog">
          <li class="menu-item">Articles</li>
        </a>
        <a href="/schedule">
          <li class="menu-item">Schedule pickup</li>
        </a>
        <% if(user) { %>
          <p><a href="/editprofile">Hello <%= user %></a></p>
          <% } %>
      </ul>
      <div class="hamburger">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </nav>
      <!-- Sign in btn -->
      <div class="mainHeader_signupBtn">
        <% if(user) { %>
          <a href="/logout" class="primaryBtn">Logout</a>
          <% } else { %>
            <a href="/login" class="primaryBtn">Sign Up/Login</a>
        <% } %>
    <ul class="mainHeader_mobileMenu">
      <a href="/about">
        <li class="menu-item">About</li>
      </a>
      <a href="/rewards">
        <li class="menu-item">Rewards</li>
      </a>
      <a href="/blog">
        <li class="menu-item">Articles</li>
      </a>
      <a href="/schedule">
        <li class="menu-item">Schedule pickup</li>
      </a>
    </ul>
  </header>
  <!-- END OF HEADER -->

  <!-- HERO SECTION -->
  <section class="bookingSection">
    <div class="booking-headerdiv">
      <h1>Book an appointment</h1>
      <p>
        Have items that could use a second chance at home?
        Book an appointment and have it collected for donation!
      </p>
    </div>
    <div class="booking-contentdiv">
      <form id="booking-form" action="/bookingsuccess" method="post">
        <div class="bookingform-div">
          <p class="bookingform-header">Address and Contact Info</p>
          <div class="bookingform-line"></div>
          <div class="bookingform-divbox">
            <% userDetails.forEach(function(profile){ %>
              <p>Email Address: </p>
              <p class="booking-details"><%= profile.emailAddr %></p>
              <p>Contact Number: </p>
              <p class="booking-details"><%= profile.mobileNumber %></p>
              <p>Address</p>
              <p class="booking-details"><%= profile.address %></p>
              <p>Postal Code: </p>
              <p class="booking-details"><%= profile.postalCode %></p>
              <input type="hidden" name="userId" value="<%= profile.userId %>" />
            <% }) %>
          </div>
        </div>

        <div class="bookingform-div">
          <p class="bookingform-header">Date and Time of Appointment</p>
          <div class="bookingform-line"></div>
          <div class="bookingform-divbox">
            <p>Email Address: </p>
            <input class="booking-details" name="date" type="date" required />
            <p>Time(between <b>11am</b> to <b>6pm</b>): </p>
            <input class="booking-details" name="time" type="time" min="11:00" max="18:00" required />
          </div>
        </div>

        <div class="bookingform-div">
          <p class="bookingform-header">Item Description(s)</p>
          <p class="bookingform-subheader">Up to 3 items can be donated in an appointment</p>
          <div class="bookingform-line"></div>
          <div class="bookingform-divbox">
            <p>Item Type(*): </p>
            <select name="itemType1" class="booking-details" required>
              <option value="">-</option>
              <option value="Clothing and Apparel">Clothing and Apparel</option>
              <option value="Bulky Items">Bulky Items</option>
              <option value="Books">Books</option>
              <option value="Others">Others</option>
            </select>
            <p>Item Description(*): </p>
            <textarea class="booking-details booking-txtarea" name="itemDesc1" placeholder="Please let us know what the item you are donating is/looks like.." required></textarea>
            <p>Item Type: </p>
            <select name="itemType2" class="booking-details">
              <option value="">-</option>
              <option value="Clothing and Apparel">Clothing and Apparel</option>
              <option value="Bulky Items">Bulky Items</option>
              <option value="Books">Books</option>
              <option value="Others">Others</option>
            </select>
            <p>Item Description: </p>
            <textarea class="booking-details booking-txtarea" name="itemDesc2" placeholder="Please let us know what the item you are donating is/looks like.."></textarea>
            <p>Item Type: </p>
            <select name="itemType3" class="booking-details">
              <option value="">-</option>
              <option value="Clothing and Apparel">Clothing and Apparel</option>
              <option value="Bulky Items">Bulky Items</option>
              <option value="Books">Books</option>
              <option value="Others">Others</option>
            </select>
            <p>Item Description: </p>
            <textarea class="booking-details booking-txtarea" name="itemDesc3" placeholder="Please let us know what the item you are donating is/looks like.."></textarea>
            <button type="submit" class="make-appointment-btn">Make Appointment</button>
          </div>
        </div>
      </form>
    </div>
  </section>
  <!-- END OF HERO SECTION -->

  <!-- FOOTER -->
  <footer class="footer">
    <div class="footer_top">
      <div class="footer_top_col col-1">
        <h2>FAQs</h2>
        <p>Lorem ipsum dolor sit amet ?</p>
        <p>Lorem ipsum dolor sit amet ?</p>
        <p>Lorem ipsum dolor sit amet ?</p>
      </div>
      <div class="footer_top_col col-2">
        <h2>Support</h2>
        <p>Lorem ipsum dolor sit amet ?</p>
        <p>Lorem ipsum dolor sit amet ?</p>
        <p>Lorem ipsum dolor sit amet ?</p>
      </div>
      <div class="footer_top_logo">
        <p>uGive</p>
      </div>
    </div>
    <div class="footer_btm">
      <p>Copyright uGive 2022</p>
    </div>
  </footer>
</body>

</html>