<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="../css/style.css" rel="stylesheet" />
</head>

<body>
  <!-- HEADER -->
  <header class="mainHeader">
    <!-- Logo -->
    <div class="mainHeader_logo"><a href="/">uGive</a></div>
    <!-- Nav -->
    <nav class="mainHeader_nav">
      <ul class="menu">
        <a href="/about">
          <li class="menu-item">About</li>
        </a>
        <a href="/rewards">
          <li class="menu-item">Rewards</li>
        </a>
        <a href="/blog">
          <li class="menu-item">Articles</li>
        </a>
        <a href="/schedule">
          <li class="menu-item">Schedule pickup</li>
        </a>
      </ul>
      <div class="hamburger">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </nav>

    <!-- Sign in btn -->
    <div class="mainHeader_signupBtn">
      <a href="/login" class="primaryBtn">Sign Up/Login</a>
    </div>
    <ul class="mainHeader_mobileMenu">
      <a href="/about">
        <li class="menu-item">About</li>
      </a>
      <a href="/rewards">
        <li class="menu-item">Rewards</li>
      </a>
      <a href="/blog">
        <li class="menu-item">Articles</li>
      </a>
      <a href="/schedule">
        <li class="menu-item">Schedule pickup</li>
      </a>
      <% if(user) { %>
        <a href="/editprofile">
          <li>My Profile</li>
        </a>
        <p>Hello <%= user %>
        </p>
        <% } %>
    </ul>
    <div class="hamburger">
      <span></span>
      <span></span>
      <span></span>
    </div>
    </nav>
  </header>
  <!-- END OF HEADER -->

  <!-- HERO SECTION -->
  <section class="aboutHeroSection">
    <div class="aboutHeroSection_inner">
      <h1>Frequently asked question</h1>
      <p>
        Still in doubt? Please do not hesitate to reach out to us on our Contact Us form.
      </p>
    </div>
  </section>
  <!-- END OF HERO SECTION -->

  <!-- QUESTION SECTION -->
  <section class="questionSection">
    <div class="questionSection_each">
      <p class="header"> Must I be a registed user to start donating?</p>
      <p class="description"> Yes, this is to ensure that all reward points are accurately recorded.</p>
    </div>
    <div class="questionSection_each">
      <p class="header"> What items can I donate?</p>
      <p class="description"> Some items we accept include used clothing, furniture, stationery, electrical appliances,
        and non-perishable food. All items should also be in
        usable condition so that we are able to give these items a second life. You can find the ful list of items
        <u>here</u>.
      </p>
    </div>
    <div class="questionSection_each">
      <p class="header"> How many items can I donate in one pick-up schedule?</p>
      <p class="description"> To ensure that items are being transported safely, we are limiting each pick-up to only
        three items.</p>
    </div>
    <div class="questionSection_each">
      <p class="header"> Are there any expiry dates to my reward points?</p>
      <p class="description"> No, however the redeemable reward items changes quite frequently, so we suggest that you
        redeem your desired rewards at the soonest!</p>
    </div>
    <div class="questionSection_each">
      <p class="header"> What are the operating hours of the pick-up services?</p>
      <p class="description"> Our pick-up courier services are available from 11am to 6pm daily. You may schedule a
        booking <u><a href="/schedule">here</a></u>.</p>
    </div>
    <div class="questionSection_each">
      <p class="header"> Where does the items that I donate go to?</p>
      <p class="description"> We partner with many charitable organizations that help support children, elderlies, and
        also animals. You may indicate your preferred beneficiary
        if applicable, else we will help route your items to organizations that might need certain items more. You may
        view the full list of beneficiaries <u>here</u>.
      </p>
    </div>
  </section>
  <!-- END OF QUESTION SECTION -->


  <!-- FOOTER -->
  <footer class="footer">
    <div class="footer_top">
      <div class="footer_top_col col-1">
        <h2>FAQs</h2>
        <a href="/FAQ">
          <p>How do I get started?</p>
        </a>
        <a href="/FAQ">
          <p>What items can I donate?</p>
        </a>
        <a href="/FAQ">
          <p>View more > </p>
        </a>
      </div>
      <div class="footer_top_col col-2">
        <h2>Support</h2>
        <p>Operating hours: 11am to 6pm daily</p>
        <p>Email us: contact@uGive.com </p>
        <p>Call us: 6123 5678</p>
        <p>Leave a feedback > </p>
      </div>
      <div class="footer_top_logo">
        <p>uGive</p>
      </div>
    </div>
    <div class="footer_btm">
      <p>Copyright uGive 2022</p>
    </div>
  </footer>
</body>

</html>