<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="../css/style.css" rel="stylesheet" />
  <link href="../css/styling.css" rel="stylesheet" />
  <title>uGive</title>
</head>

<body>
  <!-- HEADER -->
  <header class="mainHeader">
    <!-- Logo -->
    <div class="mainHeader_logo"><a href="/">uGive</a></div>
    <!-- Nav -->
    <nav class="mainHeader_nav">
      <ul class="menu">
        <a href="/about">
          <li class="menu-item">About</li>
        </a>
        <a href="/rewards">
          <li class="menu-item menu-active">Rewards</li>
        </a>
        <a href="/blog">
          <li class="menu-item">Articles</li>
        </a>
        <a href="/schedule">
          <li class="menu-item">Schedule pickup</li>
        </a>
      </ul>
      <div class="hamburger">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </nav>
      <!-- Sign in btn -->
      <div class="mainHeader_signupBtn">
        <% if(user) { %>
          <a href="/logout" class="primaryBtn">Logout</a>
          <% } else { %>
            <a href="/login" class="primaryBtn">Sign Up/Login</a>
        <% } %>
    <ul class="mainHeader_mobileMenu">
      <a href="/about">
        <li class="menu-item">About</li>
      </a>
      <a href="/rewards">
        <li class="menu-item">Rewards</li>
      </a>
      <a href="/blog">
        <li class="menu-item">Articles</li>
      </a>
      <a href="/schedule">
        <li class="menu-item">Schedule pickup</li>
      </a>
      <% if(user) { %>
        <p>Hello <%= user %>
        </p>
        <% } %>
    </ul>
  </header>
  <!-- END OF HEADER -->

  <!-- HERO SECTION -->
  <section class="forgetPasswordSection">
    <div class="forgetpwd-divLeft">
      <h1>Forget Password</h1>
      <div class="forgetPassword-content">
        <p>It seems you have forgotten your password, we can help with that!</p>
        <p>Please key in your email so we can send you your password.</p>
      </div>
      <div class="forgetpwd-divbox">
        <p>Fill in your registered e-mail:</p>
        <form method="post" action="/sendNewPassword">
          <input class="forgetpwd-field" type="text" id="email" name="email" placeholder="Enter email here.." required>
          <button type="submit" class="forgetpwd-btn">→</button>
        </form>
      </div>
    </div>
    <div class="forgetpwd-divRight">
      <img src="img/forget_password_img.png" />
    </div>
  </section>
  <!-- END OF HERO SECTION -->

  <!-- FOOTER -->
  <footer class="footer">
    <div class="footer_top">
      <div class="footer_top_col col-1">
        <h2>FAQs</h2>
        <p>Lorem ipsum dolor sit amet ?</p>
        <p>Lorem ipsum dolor sit amet ?</p>
        <p>Lorem ipsum dolor sit amet ?</p>
      </div>
      <div class="footer_top_col col-2">
        <h2>Support</h2>
        <p>Lorem ipsum dolor sit amet ?</p>
        <p>Lorem ipsum dolor sit amet ?</p>
        <p>Lorem ipsum dolor sit amet ?</p>
      </div>
      <div class="footer_top_logo">
        <p>uGive</p>
      </div>
    </div>
    <div class="footer_btm">
      <p>Copyright uGive 2022</p>
    </div>
  </footer>
</body>

</html>