<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link href="../css/style.css" rel="stylesheet" />
  </head>
  <body>
    <!-- HEADER -->
    <header class="mainHeader">
      <!-- Logo -->
      <div class="mainHeader_logo"><a href="/">uGive</a></div>
      <!-- Nav -->
      <nav class="mainHeader_nav">
        <ul class="menu">
          <a href="/about"><li class="menu-item">About</li></a>
          <a href="/rewards"><li class="menu-item menu-active">Rewards</li></a>
          <a href="/blog"><li class="menu-item">Articles</li></a>
          <a href="/schedule"><li class="menu-item">Schedule pickup</li></a>
          <% if(user) { %>
            <a href="/editprofile">
              <li>My Profile</li>
            </a>
            <p>Hello <%= user %>
            </p>
            <% } %>
        </ul>
        <div class="hamburger">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </nav>
      <!-- Sign in btn -->
      <div class="mainHeader_signupBtn"><p>Sign in/Login</p></div>
      <ul class="mainHeader_mobileMenu">
        <a href="/about"><li class="menu-item">About</li></a>
        <a href="/rewards"><li class="menu-item">Rewards</li></a>
        <a href="/blog"><li class="menu-item">Articles</li></a>
        <a href="/schedule"><li class="menu-item">Schedule pickup</li></a>
      </ul>
    </header>
    <!-- END OF HEADER -->

    <!-- HERO -->
    <section class="rewardCategoryHero">
      <h1>Home Appliances</h1>
    </section>

    <form class="searchSec" action="/household-appliance-category/search">
      <input
        type="text"
        placeholder="Enter keywords to find rewards"
        name="searchValue"
      />
    </form>

    <section class="allItems">
      <% rewardProperty.forEach(function(prop){ %>
      <form
        class="allItems_item"
        action="/household-appliance-category/details"
      >
        <div class="applianceImg">
          <img src="<%= prop.imagePath %>" alt="" />
        </div>
        <div class="desc">
          <p class="itemName"><%= prop.rewardName %></p>
          <p class="itemPoints">Points required: <%= prop.points %></p>
        </div>
        <input type="hidden" value="<%= prop.rewardName %>" name="name" />
      </form>
      <% }) %>
    </section>

    <!-- FOOTER -->
    <footer class="footer">
      <div class="footer_top">
        <div class="footer_top_col col-1">
          <h2>FAQs</h2>
          <a href="/FAQ"><p>How do I get started?</p></a>
          <a href="/FAQ"><p>What items can I donate?</p></a>
          <a href="/FAQ"><p>View more > </p></a>
        </div>
        <div class="footer_top_col col-2">
          <h2>Support</h2>
          <p>Operating hours: 11am to 6pm daily</p>
          <p>Email us: contact@uGive.com </p>
          <p>Call us: 6123 5678</p>
          <p>Leave a feedback > </p>
        </div>
        <div class="footer_top_logo">
          <p>uGive</p>
        </div>
      </div>
      <div class="footer_btm">
        <p>Copyright uGive 2022</p>
      </div>
    </footer>


    <script>
      // Form
      const allForm = document.querySelectorAll(".allItems_item");
      allForm.forEach((form) => {
        form.addEventListener("click", () => {
          form.submit();
        });
      });
    </script>
  </body>
</html>
