<!doctype html>
<html>

<head>
  <title>Login</title>
</head>
<link rel="stylesheet" href="css/style.css">

<body>
  <div class="login-body">
    <div class="login-content">
      <div class="login-formbody">
        <h1>Login</h1>
        <form class="login-form" method="post" action="/loginsuccess">
          <input class="username-input" name="username" type="text" placeholder="username" required><br />
          <input class="password-input" name="password" type="password" placeholder="password" required><br />
          <p class="register-para-1">I am new here! <a href="/register">Register</a> an account</p>
          <button class="login-btn" type="submit">LOG IN</button>
          <p class="register-para-2">Go back to <a href="/">Home</a></p>
        </form>
      </div>
      <div class="login-banner">
        <h1 class="login-bannertext">Make a difference,<br /> here at uGive.</h1>
      </div>
    </div>
  </div>
</body>

</html>