<!doctype html>
<html>

<head>
  <title>Maps</title>
</head>
<link rel="stylesheet" href="css/style.css">
<link rel="stylesheet" href="css/mapStyling.css">
<script async
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCpmobSIOtFht6MrYp3ytLRTHBS5MyobY8&libraries=places&callback=initMap">
  </script>
<script type="text/javascript" src="scripts/googleAPI.js"></script>

<body class="map-body">
  <!-- HEADER -->
  <header class="mainHeader">
    <!-- Logo -->
    <div class="mainHeader_logo"><a href="/">uGive</a></div>
    <!-- Nav -->
    <nav class="mainHeader_nav">
      <ul class="menu">
        <a href="/about">
          <li class="menu-item">About</li>
        </a>
        <a href="/rewards">
          <li class="menu-item menu-active">Rewards</li>
        </a>
        <a href="/blog">
          <li class="menu-item">Articles</li>
        </a>
        <a href="/schedule">
          <li class="menu-item">Schedule pickup</li>
        </a>
       <% if(user) { %>
          <a href="/editprofile">
            <li>My Profile</li>
          </a>
          <a href="/"><li>Hello <%= user %>
          </li></a>
          <% } %>
      </ul>
      <div class="hamburger">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </nav>
    <!-- Sign in btn -->
    <div class="mainHeader_signupBtn">
      <% if(user) { %>
        <a href="/logout" class="primaryBtn">Logout</a>
        <% } else { %>
          <a href="/login" class="primaryBtn">Sign Up/Login</a>
          <% } %>
            <ul class="mainHeader_mobileMenu">
              <a href="/about">
                <li class="menu-item">About</li>
              </a>
              <a href="/rewards">
                <li class="menu-item">Rewards</li>
              </a>
              <a href="/blog">
                <li class="menu-item">Articles</li>
              </a>
              <a href="/schedule">
                <li class="menu-item">Schedule pickup</li>
              </a>
            </ul>
  </header>
  <!-- END OF HEADER -->
  <div class="map-content">
    <h1>Location of donation drive</h1>
    <div class="map-canvas" id="map">
    </div>
    <p>Go back to <a href="/">Home</a></p>
  </div>
  <!-- FOOTER -->
  <footer class="footer">
    <div class="footer_top">
      <div class="footer_top_col col-1">
        <h2>FAQs</h2>
        <a href="/FAQ">
          <p>How do I get started?</p>
        </a>
        <a href="/FAQ">
          <p>What items can I donate?</p>
        </a>
        <a href="/FAQ">
          <p>View more > </p>
        </a>
      </div>
      <div class="footer_top_col col-2">
        <h2>Support</h2>
        <p>Operating hours: 11am to 6pm daily</p>
        <p>Email us: contact@uGive.com </p>
        <p>Call us: 6123 5678</p>
        <p>Leave a feedback > </p>
      </div>
      <div class="footer_top_logo">
        <p>uGive</p>
      </div>
    </div>
    <div class="footer_btm">
      <p>Copyright uGive 2022</p>
    </div>
  </footer>

  <script>
    window.addEventListener('load', (event) => {
      getQuery()
    });
  </script>
</body>

</html>