<!doctype html>
<html>

<head>
  <title>Register</title>
</head>
<link rel="stylesheet" href="css/style.css">

<body>
  <div class="register-body">
    <div class="register-content">
      <form class="register-form" method="post" action="/registered">
        <div class="register-formbody-left">
          <h1>Register a new account</h1>
          <p class="register-num-heading">- How may we address you? -</p>
          <input class="fname-input" id="fname" name="fname" type="text" placeholder="First Name"
            onfocusout="checkName(this)" required><br />
          <input class="lname-input" id="lname" name="lname" type="text" placeholder="Last Name"
            onfocusout="checkName(this)" required><br />
          <input class="username-input" id="username" name="username" type="text" placeholder="Username" maxlength="20"
            required><br />
          <input class="dob-input" id="dob" name="dob" type="date" max="2004-01-01" required><br />
          <input class="password-input" id="password" name="password" type="password" placeholder="Password"
            maxlength="20" required><br />
          <input class="cfm-password-input" id="cfm-password" name="cfm-password" type="password"
            placeholder="Confirm Password" maxlength="20" onfocusout="checkPassword()" required><br />
          <p class="formleft-warning"></p>
          <button class="next-btn" type="button" onclick="enableContactForm()">Next</button>
        </div>
        <div id="register-form-right" class="register-formbody-right">
          <h1>Personal Particulars</h1>
          <p class="register-num-heading">- Where/how may we contact you? -</p>
          <input class="mobilenum-input" id="mobilenum" name="mobilenum" type="number" placeholder="Mobile number"
            maxlength="8"><br />
          <input class="email-input" id="email" name="email" type="text" placeholder="Email Address" required><br />
          <input class="address-input" id="address" name="address" type="text" placeholder="Address" required><br />
          <input class="postal-input" id="postal" name="postal" type="number" placeholder="Postal Code" required><br />
          <button class="register-btn" id="register-btn" type="submit">Register</button>
        </div>
      </form>
    </div>
  </div>
  <script type="text/javascript">
    window.onload = function () {
      document.getElementById("register-form-right").style.opacity = "0.6";
      document.getElementById("mobilenum").disabled = true;
      document.getElementById("email").disabled = true;
      document.getElementById("address").disabled = true;
      document.getElementById("postal").disabled = true;
      document.getElementById("register-btn").disabled = true;
    }

    function checkName(obj) {
      const specialChars = /[`!@#$%^&*()_+\-=\[\]{};:"\\|,.<>\/?~]/;
      let stringVal = document.getElementById(obj.id).value;

      if (specialChars.test(stringVal)) {
        obj.style.borderColor = "red";
        document.getElementsByClassName("formleft-warning")[0].style.display = "block";
        document.getElementsByClassName("formleft-warning")[0].innerHTML = "Textfield cannot contain special characters!";
        document.getElementsByClassName("next-btn")[0].disabled = true;
      }
      else {
        console.log("Pass!");
        obj.style.borderColor = "#ececec";
        document.getElementsByClassName("formleft-warning")[0].style.display = "none";
        document.getElementsByClassName("next-btn")[0].disabled = false;
      }

    }

    function checkPassword() {
      var pwd = document.getElementById("password");
      var cfmPwd = document.getElementById("cfm-password");

      if (pwd.value !== cfmPwd.value) {
        pwd.style.borderColor = "red";
        cfmPwd.style.borderColor = "red";
        document.getElementsByClassName("formleft-warning")[0].style.display = "block";
        document.getElementsByClassName("formleft-warning")[0].innerHTML = "Passwords do not match.";
        document.getElementsByClassName("next-btn")[0].disabled = true;
      } else {
        console.log("Passwords match")
        pwd.style.borderColor = "#ececec";
        cfmPwd.style.borderColor = "#ececec";
        document.getElementsByClassName("formleft-warning")[0].style.display = "none";
        document.getElementsByClassName("next-btn")[0].disabled = false;
      }
    }

    function checkFilled() {
      if (
        document.getElementById("fname").value != "" &&
        document.getElementById("lname").value != "" &&
        document.getElementById("username").value != "" &&
        document.getElementById("dob").value != "" &&
        document.getElementById("password").value != "" &&
        document.getElementById("cfm-password").value != ""
      ) {
        return true;
      }
    }

    function enableContactForm() {
      if (checkFilled()) {
        document.getElementsByClassName("formleft-warning")[0].style.display = "none";
        document.getElementById("register-form-right").style.opacity = "1";
        document.getElementById("mobilenum").disabled = false;
        document.getElementById("email").disabled = false;
        document.getElementById("address").disabled = false;
        document.getElementById("postal").disabled = false;
        document.getElementById("register-btn").disabled = false;
      } else {
        document.getElementsByClassName("formleft-warning")[0].style.display = "block";
        document.getElementsByClassName("formleft-warning")[0].innerHTML = "There have been fields left empty, fill them out before proceeding.";
        document.getElementsByClassName("next-btn")[0].disabled = true;
      }
    }
  </script>
</body>

</html>