<!doctype html>
<html>

<head>
  <title>Register</title>
</head>
<link rel="stylesheet" href="css/style.css">
<link rel="stylesheet" href="css/signInStyling.css">
<script type="text/javascript" src="scripts/script.js"></script>
<body>
  <div class="register-body">
    <div class="register-content">
      <form class="register-form" id="register-form" method="post" action="/registered">
        <div class="register-formbody-left" id="register-formbody-left">
          <h1>Register a new account</h1>
          <p class="register-num-heading">- How may we address you? -</p>
          <input class="fname-input" id="fname" name="fname" type="text" placeholder="First Name"
            onfocusout="checkName(this, 'formleft-warning', 'next-btn')" required><br />
          <input class="lname-input" id="lname" name="lname" type="text" placeholder="Last Name"
            onfocusout="checkName(this, 'formleft-warning', 'next-btn')" required><br />
          <input class="username-input" id="username" name="username" type="text" placeholder="Username" maxlength="20"
            required><br />
          <input class="dob-input" id="dob" name="dob" type="date" max="2004-01-01" required><br />
          <input class="password-input" id="password" name="password" type="password" placeholder="Password"
            maxlength="20" required><br />
          <input class="cfm-password-input" id="cfm-password" name="cfm-password" type="password"
            placeholder="Confirm Password" maxlength="20" onfocusout="reg_checkPassword()" required><br />
          <p class="formleft-warning"></p>
          <button class="next-btn" type="button" onclick="reg_enableContactForm()">Next</button>
          <p class="register-backToHome-tag">Go back to <a href="/">Home</a></p>
        </div>
        <div id="register-form-right" class="register-formbody-right">
          <h1>Personal Particulars</h1>
          <p class="register-num-heading">- Where/how may we contact you? -</p>
          <input class="mobilenum-input" id="mobilenum" name="mobilenum" type="text" pattern="\d*" placeholder="Mobile number"
            minlength="8" maxlength="8" required><br />
          <input class="email-input" id="email" name="email" type="text" placeholder="Email Address" onfocusout="validateEmail(this)" required><br />
          <input class="address-input" id="address" name="address" type="text" placeholder="Address" required><br />
          <input class="postal-input" id="postal" name="postal" type="text" pattern="\d*" minlength="6" maxlength="6" placeholder="Postal Code" required><br />
          <p class="formright-warning"></p>
          <button class="register-btn" id="register-btn" type="submit">Register</button>
        </div>
      </form>
    </div>
  </div>
  <script type="text/javascript">
    window.addEventListener('load', (event) => {
      document.getElementById("register-form-right").style.opacity = "0.6";
      document.getElementById("mobilenum").disabled = true;
      document.getElementById("email").disabled = true;
      document.getElementById("address").disabled = true;
      document.getElementById("postal").disabled = true;
      document.getElementById("register-btn").disabled = true;
    });
  </script>
</body>

</html>