.map-body h1 {
  font-family: "M-SemiBold";
  font-size: 2rem;
  text-align: center;
}

.map-content {
  width: 60%;
  height: 70%;
  margin: auto;
  margin-top: 5%;
  margin-bottom: 5%;
  padding: 1.4rem 2rem 1rem 2rem;
  background-color: white;
  -webkit-box-shadow: 5px 5px 5px rgb(0 0 0 / 20%);
  box-shadow: 5px 5px 5px rgb(0 0 0 / 20%);
  border-radius: 4rem;
}

.map-content p {
  margin-top: 10px;
  font-family: "M-Regular";
  font-size: 0.8rem;
  text-align: right;
}

.map-canvas {
  width: 100%;
  height: 80%;
  /* box-shadow: 5px 5px 5px rgb(0 0 0 / 20%); */
}