@import "_breakpoints.scss";

// Fonts
@font-face {
  font-family: "M-Medium";
  src: url("/fonts/Montserrat-Medium.ttf");
}
@font-face {
  font-family: "M-Regular";
  src: url("/fonts/Montserrat-Regular.ttf");
}
@font-face {
  font-family: "M-SemiBold";
  src: url("/fonts/Montserrat-SemiBold.ttf");
}
@font-face {
  font-family: "M-Black";
  src: url("/fonts/Montserrat-Black.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// BODY
body {
  width: 100vw;
  height: 100vh;
  background-color: #f3f1ec;
  overflow-x: hidden;
  font-size: 1rem;
}

// A
a {
  text-decoration: none;
  color: black;
}

// ******** HOME PAGE ********//

// HEADER
.mainHeader {
  width: 100vw;
  height: 50px;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
  &_logo {
    font-family: "M-Black";
    font-size: 1.5rem;
  }
  &_nav {
    display: grid;
    justify-content: end;
    align-content: center;
    width: 100%;
    .menu {
      width: 100%;
      display: none;
      font-family: "M-Medium";
      text-decoration: none;
      list-style: none;
    }

    .hamburger {
      cursor: pointer;
      span {
        width: 35px;
        height: 3px;
        background-color: black;
        opacity: 1;
        display: block;
        margin: 0.5rem 0rem;
      }
    }
  }
  &_mobileMenu {
    display: none;
    font-family: "M-Medium";
    grid-column: 1/4;
    list-style: none;
    text-decoration: none;
    height: 100px;
    .menu-item {
      background-color: black;
      color: white;
      display: grid;
      justify-content: center;
      align-items: center;
      padding: 0.9rem 0rem;
    }
  }
  &_signupBtn {
    display: none;
    font-family: "M-SemiBold";
    color: white;
    width: 150px;
    height: 50px;
    border-radius: 2rem;
    background-color: black;
    justify-content: center;
    align-items: center;
    .primaryBtn {
      color: white;
    }
  }

  //Media Queries
  @include desktop {
    padding: 1.5rem;
    grid-template-columns: repeat(3, 1fr);
    &_logo {
      font-family: "M-Black";
      font-size: 2rem;
    }
    &_nav {
      display: grid;
      justify-content: stretch;
      align-content: center;
      width: 100%;
      .menu {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
      }
      .hamburger {
        display: none;
      }
    }
    &_signupBtn {
      display: grid;
      justify-self: end;
    }
  }
}

// // HERO SECTION
.heroSection {
  width: 100vw;
  height: 380px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../img/hero-bg.jpg");
  background-size: cover;
  background-position-y: 7rem;
  background-repeat: no-repeat;
  position: relative;
  margin-bottom: 3rem;
  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: black;
  }
  &_inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h1 {
      font-family: "M-SemiBold";
      font-size: 2rem;
      text-align: center;
    }
    p {
      margin-top: 1rem;
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: "M-Black";
      width: 200px;
      height: 50px;
      background-color: black;
      color: white;
      border-radius: 2rem;
      cursor: pointer;
    }
  }

  // Media queries
  @include tablet-portrait {
    height: 450px;
    // background-position-y: -1%;
    &_inner {
      h1 {
        font-size: 2.5rem;
        width: 80%;
      }
    }
  }
  @include desktop {
    height: 90vh;
    background-position-y: 0rem;
    &_inner {
      h1 {
        font-size: 3rem;
      }
    }
  }
  @include lg {
    &_inner {
      h1 {
        font-size: 4rem;
      }
    }
  }
}

// DONATION MATTERS SECTION
.donationSection {
  width: 100vw;
  height: 330px;
  padding: 1rem;
  &_desc {
    text-align: center;
    h1 {
      font-family: "M-Medium";
      font-size: 1.5rem;
      text-align: center;
      padding-bottom: 0.3rem;
    }
    p {
      font-family: "M-Regular";
      font-size: 0.8rem;
    }
  }
  &_images {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 1.5rem 1rem;
    .image {
      width: 100px;
      height: 50%;
      background-image: url("../img/donation.jpg");
      background-size: cover;
      border: 3px solid black;
      border-radius: 1rem;
      display: grid;
      justify-self: center;
      align-self: center;
    }
    .imageCenter {
      width: 100%;
      height: 150px;
      background-image: url("../img/donation.jpg");
      background-size: cover;
      border: 3px solid black;
      border-radius: 1rem;
      display: grid;
      justify-self: center;
    }
  }

  // Media queries
  @include tablet-portrait {
    &_desc {
      h1 {
        font-size: 2rem;
      }
    }
    &_images {
      padding-top: 2.3rem;
      .image {
        width: 60%;
      }
    }
  }
  @include desktop {
    height: 80vh;
    margin-bottom: 2rem;
    &_images {
      .image {
        width: 60%;
      }
      .imageCenter {
        height: 300px;
      }
    }
  }
}

// REWARDS SECTION
.rewardSection {
  width: 100vw;
  height: 350px;
  padding: 1rem;
  display: grid;
  justify-content: center;
  &_desc {
    text-align: center;

    h1 {
      font-family: "M-Medium";
      font-size: 1.5rem;
      text-align: center;
      padding-bottom: 0.3rem;
    }
    p {
      font-family: "M-Regular";
      font-size: 0.8rem;
    }
  }
  &_img {
    padding: 1.5rem 1rem;
    width: 100%;
    height: 200px;
    background-image: url("../img/rewards.jpg");
    background-size: cover;
    border: 3px solid black;
  }

  // Media Queries
  @include tablet-portrait {
    &_desc {
      h1 {
        font-size: 2rem;
      }
    }
  }
  @include desktop {
    height: 60vh;
    &_img {
      display: grid;
      justify-content: center;
    }
  }
}

// PROCESS SECTION
.processSection {
  width: 100vw;
  height: 80vh;
  padding: 1rem;
  display: grid;
  justify-content: center;
  margin-bottom: 2rem;
  h1 {
    font-family: "M-Medium";
    font-size: 1.5rem;
    text-align: center;
    // padding-bottom: 1rem;
  }
  &_processes {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    .process {
      width: 100%;
      height: 100%;
      background-color: white;
      box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
      border-radius: 1rem;
      padding: 1.5rem 1rem 2.5rem 1rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .img1 {
        width: 40px;
        height: 40px;
        background-image: url("../img/icon1.png");
        background-size: cover;
      }
      .img2 {
        width: 40px;
        height: 40px;
        background-image: url("../img/icon2.png");
        background-size: cover;
      }
      .img3 {
        width: 40px;
        height: 40px;
        background-image: url("../img/icon3.png");
        background-size: cover;
      }

      .headerText {
        font-family: "M-SemiBold";
        font-size: 1.2rem;
        text-align: center;
        padding-top: 0.5rem;
      }
      .subText {
        font-family: "M-Regular";
        font-size: 0.8rem;
        text-align: center;
        padding: 0.5rem 0rem;
      }
    }
  }

  // Media Queries
  @include tablet-portrait {
    height: 50vh;
    h1 {
      font-size: 2rem;
    }
    &_processes {
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 20px;
      .process {
        padding: 1.5rem 1rem 2.5rem 1rem;
        height: 100%;
      }
    }
  }
  @include desktop {
    height: 90vh;
    margin-bottom: 3rem;
    &_processes {
      .process {
        height: 400px;
        padding-top: 0rem;
        padding-bottom: 5rem;
        .headerText {
          font-size: 1.4rem;
        }
        .img1,
        .img2,
        .img3 {
          width: 60px;
          height: 60px;
        }
      }
    }
  }
}

// LOCATION SECTION
.locationSection {
  width: 100vw;
  height: 50vh;
  padding: 1rem;
  display: grid;
  margin-bottom: 2rem;
  &_desc {
    text-align: center;
    h1 {
      font-family: "M-Medium";
      font-size: 1.5rem;
      padding-bottom: 0.5rem;
    }
    p {
      font-family: "M-Regular";
      font-size: 0.8rem;
    }
  }
  &_form {
    .locationForm {
      height: 100%;
      padding: 1.4rem 2rem 1rem 2rem;
      background-color: white;
      box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
      border-radius: 4rem;
      label {
        font-family: "M-Regular";
      }
      input[type="text"] {
        width: 100%;
        outline: none;
        border: 2px solid #ccc;
        border-radius: 2rem;
        padding: 0.5rem 1rem;
        font-family: "M-Semibold";
        font-size: 1rem;
        margin-top: 0.2rem;
      }
      .btn {
        width: 100%;
        display: grid;
        justify-content: end;
        font-family: "M-Semibold";
        padding: 1rem 0rem 0rem 0rem;
        cursor: pointer;
        p {
          position: relative;
          &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 2px;
            background-color: black;
          }
        }
      }
    }
  }

  // Media Queries
  @include tablet-portrait {
    grid-template-columns: repeat(2, 1fr);
    padding: 2rem 1.5rem 0rem 1.5rem;
    &_desc {
      padding-right: 1rem;
      text-align: start;
      padding-top: 1rem;
      h1 {
        font-size: 2rem;
      }
    }
    &_form {
      height: 60%;
    }
  }
}

// FOOTER
.footer {
  width: 100vw;
  height: 50vh;
  color: white;
  background-color: black;
  padding: 1.5rem 1rem;
  &_top {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    .col-2 {
      grid-column: 1;
    }
    &_col {
      margin-bottom: 1rem;
      padding-left: 1rem;
      h2 {
        font-family: "M-Semibold";
        position: relative;
        margin-bottom: 1rem;
        &:after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          width: 20%;
          height: 2px;
          background-color: white;
        }
      }
      p {
        font-family: "M-Regular";
        font-size: 0.8rem;
      }
    }
    &_logo {
      grid-column: 2;
      display: grid;
      justify-content: center;
      p {
        font-family: "M-Black";
        font-size: 1.5rem;
      }
    }
  }
  &_btm {
    padding-top: 1rem;
    p {
      font-family: "M-SemiBold";
      font-size: 0.8rem;
      text-align: center;
    }
  }

  // Media Queries
  @include tablet-portrait {
    height: 35vh;
    padding-top: 2rem;
    &_top {
      grid-template-columns: repeat(3, 1fr);
      margin-bottom: 1rem;
      .col-1 {
        grid-column: 1;
      }
      .col-2 {
        grid-column: 2;
      }
      &_logo {
        grid-column: 3;
        justify-content: center;
        align-items: center;
      }
    }
  }
}

// ******** REWARDS PAGE ********//
.rewardsHeroSection {
  width: 100vw;
  height: 280px;
  text-align: center;
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  &_inner {
    h1 {
      font-family: "M-SemiBold";
      font-size: 2rem;
      text-align: center;
    }
    p {
      margin-top: 1rem;
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: "M-Regular";
      font-size: 0.9rem;
    }
  }
}

.rewardsOfferSection {
  width: 100vw;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  p {
    text-align: center;
    font-family: "M-SemiBold";
    font-size: 1.5rem;
    text-transform: capitalize;
    text-decoration: underline;
  }

  @include desktop {
    height: 80vh;
    p {
      font-size: 1.8rem;
      padding-bottom: 1rem;
    }
  }
}

.slideshow-container {
  width: 100%;
  position: relative;
  margin: auto;
  cursor: pointer;

  @include tablet-portrait {
    width: 90%;
    height: 80%;
  }
  @include desktop {
    width: 95%;
    height: 95%;
  }
}

.mySlides {
  display: none;
  padding: 1rem;
  padding-top: 0rem;
  justify-content: center;
  align-items: center;
}

.divImage1 {
  width: 100%;
  height: 200px;
  background-image: url("../img/goofy.jpg");
  background-size: cover;
  border: 4px solid black;
  border-radius: 2rem;
  @include desktop {
    height: 350px;
  }
}

.divImage2 {
  width: 100%;
  height: 200px;
  background-image: url("../img/resort.jpg");
  background-size: cover;
  border: 4px solid black;
  border-radius: 2rem;
  @include desktop {
    height: 350px;
  }
}
