@import "_breakpoints.scss";

// Fonts
@font-face {
  font-family: "M-Medium";
  src: url("/fonts/Montserrat-Medium.ttf");
}
@font-face {
  font-family: "M-Regular";
  src: url("/fonts/Montserrat-Regular.ttf");
}
@font-face {
  font-family: "M-SemiBold";
  src: url("/fonts/Montserrat-SemiBold.ttf");
}
@font-face {
  font-family: "M-Black";
  src: url("/fonts/Montserrat-Black.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// BODY
body {
  width: 100vw;
  height: 100vh;
  background-color: #f3f1ec;
  overflow-x: hidden;
  font-size: 1rem;
}

// A
a {
  text-decoration: none;
  color: black;
}

// ******** HOME PAGE ********//

// HEADER
.mainHeader {
  width: 100vw;
  height: 50px;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
  &_logo {
    font-family: "M-Black";
    font-size: 1.5rem;
  }
  &_nav {
    display: grid;
    justify-content: end;
    align-content: center;
    width: 100%;
    .menu {
      width: 100%;
      display: none;
      font-family: "M-Medium";
      text-decoration: none;
      list-style: none;
    }

    .hamburger {
      cursor: pointer;
      span {
        width: 35px;
        height: 3px;
        background-color: black;
        opacity: 1;
        display: block;
        margin: 0.5rem 0rem;
      }
    }
  }
  &_mobileMenu {
    display: none;
    font-family: "M-Medium";
    grid-column: 1/4;
    list-style: none;
    text-decoration: none;
    height: 100px;
    .menu-item {
      background-color: black;
      color: white;
      display: grid;
      justify-content: center;
      align-items: center;
      padding: 0.9rem 0rem;
    }
  }
  &_signupBtn {
    display: none;
    font-family: "M-SemiBold";
    color: white;
    width: 150px;
    height: 50px;
    border-radius: 2rem;
    background-color: black;
    justify-content: center;
    align-items: center;
    .primaryBtn {
      color: white;
    }
  }

  //Media Queries
  @include desktop {
    padding: 1.5rem;
    grid-template-columns: repeat(4, 1fr);
    &_logo {
      font-family: "M-Black";
      font-size: 2rem;
    }
    &_nav {
      display: grid;
      justify-content: stretch;
      align-content: center;
      width: 100%;
      grid-column: 2/4;
      .menu {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
      }
      .hamburger {
        display: none;
      }
    }
    &_signupBtn {
      display: grid;
      justify-self: end;
    }
  }
}

// // HERO SECTION
.heroSection {
  width: 100vw;
  height: 380px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../img/hero-bg.jpg");
  background-size: cover;
  background-position-y: 7rem;
  background-repeat: no-repeat;
  position: relative;
  margin-bottom: 3rem;
  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: black;
  }
  &_inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h1 {
      font-family: "M-SemiBold";
      font-size: 2rem;
      text-align: center;
    }
    .btn {
      margin-top: 1rem;
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: "M-Black";
      width: 200px;
      height: 50px;
      background-color: black;
      color: white;
      border-radius: 2rem;
      cursor: pointer;
    }
  }

  // Media queries
  @include tablet-portrait {
    height: 450px;
    // background-position-y: -1%;
    &_inner {
      h1 {
        font-size: 2.5rem;
        width: 80%;
      }
    }
  }
  @include desktop {
    height: 90vh;
    background-position-y: 0rem;
    &_inner {
      h1 {
        font-size: 3rem;
      }
    }
  }
  @include lg {
    &_inner {
      h1 {
        font-size: 4rem;
      }
    }
  }
}

// DONATION MATTERS SECTION
.donationSection {
  width: 100vw;
  height: 330px;
  padding: 1rem;
  &_desc {
    text-align: center;
    h1 {
      font-family: "M-Medium";
      font-size: 1.5rem;
      text-align: center;
      padding-bottom: 0.3rem;
    }
    p {
      font-family: "M-Regular";
      font-size: 0.8rem;
    }
  }
  &_images {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 1.5rem 1rem;
    .image {
      width: 100px;
      height: 50%;
      background-image: url("../img/donation.jpg");
      background-size: cover;
      border: 3px solid black;
      border-radius: 1rem;
      display: grid;
      justify-self: center;
      align-self: center;
    }
    .imageCenter {
      width: 100%;
      height: 150px;
      background-image: url("../img/donation.jpg");
      background-size: cover;
      border: 3px solid black;
      border-radius: 1rem;
      display: grid;
      justify-self: center;
    }
  }

  // Media queries
  @include tablet-portrait {
    &_desc {
      h1 {
        font-size: 2rem;
      }
    }
    &_images {
      padding-top: 2.3rem;
      .image {
        width: 60%;
      }
    }
  }
  @include desktop {
    height: 80vh;
    margin-bottom: 2rem;
    &_images {
      .image {
        width: 60%;
      }
      .imageCenter {
        height: 300px;
      }
    }
  }
}

// REWARDS SECTION
.rewardSection {
  width: 100vw;
  height: 350px;
  padding: 1rem;
  display: grid;
  justify-content: center;
  &_desc {
    text-align: center;

    h1 {
      font-family: "M-Medium";
      font-size: 1.5rem;
      text-align: center;
      padding-bottom: 0.3rem;
    }
    p {
      font-family: "M-Regular";
      font-size: 0.8rem;
    }
  }
  &_img {
    padding: 1.5rem 1rem;
    width: 100%;
    height: 200px;
    background-image: url("../img/rewards.jpg");
    background-size: cover;
    border: 3px solid black;
  }

  // Media Queries
  @include tablet-portrait {
    &_desc {
      h1 {
        font-size: 2rem;
      }
    }
  }
  @include desktop {
    height: 60vh;
    &_img {
      display: grid;
      justify-content: center;
    }
  }
}

// PROCESS SECTION
.processSection {
  width: 100vw;
  height: 80vh;
  padding: 1rem;
  display: grid;
  justify-content: center;
  margin-bottom: 2rem;
  h1 {
    font-family: "M-Medium";
    font-size: 1.5rem;
    text-align: center;
    // padding-bottom: 1rem;
  }
  &_processes {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    .process {
      width: 100%;
      height: 100%;
      background-color: white;
      box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
      border-radius: 1rem;
      padding: 1.5rem 1rem 2.5rem 1rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .img1 {
        width: 40px;
        height: 40px;
        background-image: url("../img/icon1.png");
        background-size: cover;
      }
      .img2 {
        width: 40px;
        height: 40px;
        background-image: url("../img/icon2.png");
        background-size: cover;
      }
      .img3 {
        width: 40px;
        height: 40px;
        background-image: url("../img/icon3.png");
        background-size: cover;
      }

      .headerText {
        font-family: "M-SemiBold";
        font-size: 1.2rem;
        text-align: center;
        padding-top: 0.5rem;
      }
      .subText {
        font-family: "M-Regular";
        font-size: 0.8rem;
        text-align: center;
        padding: 0.5rem 0rem;
      }
    }
  }

  // Media Queries
  @include tablet-portrait {
    height: 50vh;
    h1 {
      font-size: 2rem;
    }
    &_processes {
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 20px;
      .process {
        padding: 1.5rem 1rem 2.5rem 1rem;
        height: 100%;
      }
    }
  }
  @include desktop {
    height: 90vh;
    margin-bottom: 3rem;
    &_processes {
      .process {
        height: 400px;
        padding-top: 0rem;
        padding-bottom: 5rem;
        .headerText {
          font-size: 1.4rem;
        }
        .img1,
        .img2,
        .img3 {
          width: 60px;
          height: 60px;
        }
      }
    }
  }
}

// LOCATION SECTION
.locationSection {
  width: 100vw;
  height: 50vh;
  padding: 1rem;
  display: grid;
  margin-bottom: 2rem;
  &_desc {
    text-align: center;
    h1 {
      font-family: "M-Medium";
      font-size: 1.5rem;
      padding-bottom: 0.5rem;
    }
    p {
      font-family: "M-Regular";
      font-size: 0.8rem;
    }
  }
  &_form {
    .locationForm {
      height: 100%;
      padding: 1.4rem 2rem 1rem 2rem;
      background-color: white;
      box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
      border-radius: 4rem;
      label {
        font-family: "M-Regular";
      }
      input[type="text"] {
        width: 100%;
        outline: none;
        border: 2px solid #ccc;
        border-radius: 2rem;
        padding: 0.5rem 1rem;
        font-family: "M-Semibold";
        font-size: 1rem;
        margin-top: 0.2rem;
      }
      .locationBtn {
        width: 100%;
        display: grid;
        justify-content: end;
        font-family: "M-Semibold";
        padding: 1rem 0rem 0rem 0rem;
        cursor: pointer;
        .btn {
          position: relative;
          font-family: "M-Semibold";
          background-color: transparent;
          border: none;
          cursor: pointer;
          &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 2px;
            background-color: black;
          }
        }
      }
    }
  }

  // Media Queries
  @include tablet-portrait {
    grid-template-columns: repeat(2, 1fr);
    padding: 2rem 1.5rem 0rem 1.5rem;
    &_desc {
      padding-right: 1rem;
      text-align: start;
      padding-top: 1rem;
      h1 {
        font-size: 2rem;
      }
    }
    &_form {
      height: 60%;
    }
  }
}

// FOOTER
.footer {
  width: 100vw;
  height: 50vh;
  color: white;
  background-color: black;
  padding: 1.5rem 1rem;
  &_top {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    .col-2 {
      grid-column: 1;
    }
    &_col {
      margin-bottom: 1rem;
      padding-left: 1rem;
      h2 {
        font-family: "M-Semibold";
        position: relative;
        margin-bottom: 1rem;
        &:after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          width: 20%;
          height: 2px;
          background-color: white;
        }
      }
      p {
        font-family: "M-Regular";
        font-size: 0.8rem;
      }
      a {
        font-family: "M-Regular";
        font-size: 0.8rem;
        color: white;
      }
    }
    &_logo {
      grid-column: 2;
      display: grid;
      justify-content: center;
      p {
        font-family: "M-Black";
        font-size: 1.5rem;
      }
    }
  }
  &_btm {
    padding-top: 1rem;
    p {
      font-family: "M-SemiBold";
      font-size: 0.8rem;
      text-align: center;
    }
  }

  // Media Queries
  @include tablet-portrait {
    height: 35vh;
    padding-top: 2rem;
    &_top {
      grid-template-columns: repeat(3, 1fr);
      margin-bottom: 1rem;
      .col-1 {
        grid-column: 1;
      }
      .col-2 {
        grid-column: 2;
      }
      &_logo {
        grid-column: 3;
        justify-content: center;
        align-items: center;
      }
    }
  }
}

// ******** REWARDS PAGE ********//
.rewardsHeroSection,
.aboutHeroSection {
  width: 100vw;
  height: 280px;
  text-align: center;
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  &_inner {
    h1 {
      font-family: "M-SemiBold";
      font-size: 2rem;
      text-align: center;
    }
    p {
      margin-top: 1rem;
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: "M-Regular";
      font-size: 0.9rem;
    }
  }

  @include desktop {
    h1 {
      font-size: 2.5rem;
    }
  }
}

.rewardsOfferSection {
  width: 100vw;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  p {
    text-align: center;
    font-family: "M-SemiBold";
    font-size: 1.5rem;
    text-transform: capitalize;
    text-decoration: underline;
  }

  @include desktop {
    height: 80vh;
    p {
      font-size: 1.8rem;
      padding-bottom: 1rem;
    }
  }
}

.slideshow-container {
  width: 100%;
  position: relative;
  margin: auto;
  cursor: pointer;

  @include tablet-portrait {
    width: 90%;
    height: 80%;
  }
  @include desktop {
    width: 95%;
    height: 95%;
  }
}

.mySlides {
  display: none;
  padding: 1rem;
  padding-top: 0rem;
  justify-content: center;
  align-items: center;
}

.divImage1 {
  width: 100%;
  height: 200px;
  background-image: url("../img/goofy.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  border: 4px solid black;
  border-radius: 2rem;
  @include desktop {
    height: 350px;
    background-position-y: -8rem;
  }
}

.divImage2 {
  width: 100%;
  height: 200px;
  background-image: url("../img/resort.jpg");
  background-size: cover;
  border: 4px solid black;
  border-radius: 2rem;
  @include desktop {
    height: 350px;
    background-position-y: -16rem;
  }
}

// PROCESS SECTION
.rewardsCategoriesSection {
  width: 100vw;
  height: 120vh;
  padding: 1rem;
  display: grid;
  justify-content: center;
  margin-bottom: 2rem;
  h1 {
    font-family: "M-Medium";
    font-size: 1.5rem;
    text-align: center;
    padding-bottom: 1rem;
    // padding-bottom: 1rem;
  }
  &_all {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    .category {
      width: 100%;
      height: 100%;
      background-color: white;
      box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
      border-radius: 1rem;
      padding: 1.5rem 1rem 2.5rem 1rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      .img1 {
        width: 40px;
        height: 40px;
        background-image: url("../img/icon4.png");
        background-size: cover;
      }
      .img2 {
        width: 40px;
        height: 40px;
        background-image: url("../img/icon5.png");
        background-size: cover;
      }
      .img3 {
        width: 40px;
        height: 40px;
        background-image: url("../img/icon6.png");
        background-size: cover;
      }

      .headerText {
        font-family: "M-SemiBold";
        font-size: 1.2rem;
        text-align: center;
        padding-top: 0.5rem;
      }
      .subText {
        font-family: "M-Regular";
        font-size: 0.8rem;
        text-align: center;
        padding: 0.5rem 0rem;
      }
      .viewMore {
        width: 100%;
        display: grid;
        justify-content: end;
        align-items: flex-end;
        padding-top: 3rem;
        font-family: "M-SemiBold";
        position: relative;
        &:after {
          content: "";
          position: absolute;
          bottom: -3px;
          right: 0;
          width: 20%;
          height: 2px;
          background-color: black;
        }
      }
    }
  }

  // Media Queries
  @include tablet-portrait {
    height: 70vh;
    h1 {
      font-size: 1.8rem;
      padding-bottom: 1rem;
      text-decoration: underline;
    }
    &_all {
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 20px;
      .category {
        padding: 1.5rem 1rem 2.5rem 1rem;
        height: 100%;
      }
    }
  }
  @include desktop {
    height: 80vh;
    margin-bottom: 3rem;
    &_all {
      .category {
        height: 340px;
        padding-top: 1.5rem;
        padding-bottom: 1rem;
        .headerText {
          font-size: 1.4rem;
        }
        .img1,
        .img2,
        .img3 {
          width: 60px;
          height: 60px;
        }
      }
    }
  }
}

// ******** REWARDS CATEGORY PAGE ********//
.rewardCategoryHero {
  width: 100vw;
  height: 280px;
  text-align: center;
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h1 {
    font-family: "M-SemiBold";
    font-size: 2rem;
    text-align: center;
  }

  @include desktop {
    height: 45vh;
    h1 {
      font-size: 2.5rem;
    }
  }
}

.searchSec {
  width: 100vw;
  height: 15vh;
  padding: 0rem 1rem;
  input[type="text"] {
    width: 100%;
    padding: 1rem 0.8rem;
    font-family: "M-Regular";
    border: none;
    outline: none;
    border-radius: 0.5rem;
  }
  @include tablet-portrait {
    input[type="text"] {
      font-size: 1.3rem;
    }
  }
  @include desktop {
    height: 20vh;
  }
}

.allItems {
  width: 100vw;
  height: 90vh;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  grid-gap: 20px;
  padding: 2rem;
  &_item {
    width: 230px;
    height: 340px;
    border-radius: 2rem;
    background-color: white;
    cursor: pointer;
    .applianceImg {
      width: 85%;
      display: flex;
      height: 70%;
      overflow: hidden;
      img {
        object-fit: contain;
      }
    }
    .fashionImg {
      width: 100%;
      height: 60%;
      overflow: hidden;
    }
    .voucherImg {
      height: 60%;
      overflow: hidden;
    }
    img {
      width: 100%;
      border-radius: 2rem 2rem 0rem 0rem;
    }
    .desc {
      font-family: "M-Regular";
      padding: 1rem;
      .itemName {
        font-family: "M-SemiBold";
      }
    }
  }

  // Media Queries
  @include tablet-portrait {
    grid-template-columns: repeat(3, 1fr);
    &_item {
      width: 300px;
      height: 400px;
    }
  }
  @include desktop {
    &_item {
      width: 380px;
      height: 400px;
    }
  }
}

// ******** REWARDS DETAIL PAGE ********//
.rewardDetailSec {
  width: 100vw;
  height: 40vh;
  padding: 1rem;
  padding-top: 2rem;
  display: grid;
  justify-content: center;
  grid-gap: 20px;
  &_sec1 {
    display: grid;
    justify-content: center;
    .sec1_img {
      width: 100%;
      overflow: hidden;
      img {
        border-radius: 0.5rem;
        width: 100%;
      }
    }
  }
  &_sec2 {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-gap: 20px;
    .sec2_header {
      background-color: white;
      padding: 1rem;
      border-radius: 0.5rem;
      box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
      border: 1px solid #ccc;
      .headerTxt {
        font-family: "M-Semibold";
        font-size: 1.2rem;
        .inner {
          font-family: "M-Regular";
          font-size: 1.2rem;
        }
      }
      .subTxt {
        font-family: "M-Regular";
      }
    }
    .sec2_body {
      background-color: white;
      padding: 1rem;
      border-radius: 0.5rem;
      box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
      border: 1px solid #ccc;
      .titleTxt {
        font-family: "M-Semibold";
        font-size: 1.2rem;
      }
      .descTxt {
        font-family: "M-Regular";
        font-size: 0.9rem;
      }
    }
    .sec2_footer {
      background-color: white;
      padding: 1rem;
      border-radius: 0.5rem;
      box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
      border: 1px solid #ccc;
      .titleTxt {
        font-family: "M-Semibold";
        font-size: 1.2rem;
      }
      .descTxt2 {
        font-family: "M-Regular";
        font-size: 0.9rem;
        padding-left: 1rem;
        li {
          margin: 0.4rem 0rem;
        }
      }
    }
  }

  // Media Queries
  @include tablet-portrait {
    grid-template-columns: repeat(2, 1fr);
    &_sec2 {
      width: 80%;
    }
  }
  @include desktop {
    grid-template-columns: repeat(2, 1fr);
    height: 100vh;
    padding-top: 4rem;
    grid-gap: 40px;
    &_sec1 {
      padding-left: 3rem;
    }
    &_sec2 {
      width: 90%;
      .sec2_header {
        padding-bottom: 2rem;
        height: 100%;
      }
      .sec2_body {
        padding-bottom: 3rem;
        height: 100%;
      }
      .sec2_footer {
        padding-bottom: 4rem;
        height: 100%;
      }
    }
  }
}

// ******** ABOUT PAGE ********//
.aboutDescSection {
  width: 100vw;
  height: 70vh;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  justify-content: center;
  align-items: center;
  &_col1 {
    .subHeader {
      font-family: "M-Regular";
      font-size: 0.8rem;
    }
    .header {
      font-family: "M-SemiBold";
      padding: 0.2rem 0rem;
    }
    .description {
      font-family: "M-Regular";
      font-size: 0.8rem;
      color: rgb(97, 96, 96);
    }
  }

  &_col2 {
    .backgroundImg {
      width: 90%;
      height: 80%;
      img {
        width: 100%;
        border: 3px solid black;
        border-radius: 0.2rem;
      }
    }
  }

  // Media Queries
  @include tablet-portrait {
    height: 80vh;
    &_col1 {
      .subHeader {
        font-family: "M-Regular";
        font-size: 1rem;
      }
      .header {
        font-family: "M-SemiBold";
        padding: 0.2rem 0rem;
        font-size: 1.3rem;
      }
      .description {
        font-family: "M-Regular";
        font-size: 1rem;
        color: rgb(97, 96, 96);
      }
    }
  }
  @include desktop {
    height: 90vh;
    padding-left: 1.5rem;
  }
}

.aboutValueSection {
  width: 100vw;
  height: 250vh;
  padding: 1rem;
  .subHeader {
    font-family: "M-Regular";
    font-size: 0.8rem;
    text-align: center;
  }
  .header {
    font-family: "M-SemiBold";
    padding: 0.2rem 0rem;
    padding-bottom: 1rem;
    text-align: center;
  }
  &_grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    grid-gap: 20px;
    .eachValue {
      width: 100%;
      height: 90%;
      padding: 2rem 1rem;
      background-color: white;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-radius: 1rem;
      box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
      img {
        width: 25%;
      }
      &_header {
        font-family: "M-SemiBold";
        padding: 0.2rem 0rem;
        text-align: center;
      }
      &_desc {
        font-family: "M-Regular";
        font-size: 0.8rem;
        color: rgb(97, 96, 96);
      }
    }
  }

  // Media Queries
  @include tablet-portrait {
    .subHeader {
      font-family: "M-Regular";
      font-size: 1rem;
    }
    .header {
      font-family: "M-SemiBold";
      padding: 0.2rem 0rem;
      font-size: 1.3rem;
    }
    &_grid {
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 25px;
      .eachValue {
        img {
          width: 18%;
        }
      }
    }
  }

  @include desktop {
    height: 130vh;
    margin-top: 1rem;
  }
}

// FAQs
.questionSection {
  width: 100vw;
  height: 70vh;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  &_each {
    width: 100%;
    font-family: "M-Regular";
    .header {
      font-family: "M-Semibold";
      padding-bottom: 0.6rem;
    }
  }

  // Media Queries
  @include tablet-portrait {
    grid-template-columns: repeat(3, 1fr);
  }
}
