/*********************
    BREAKPOINTS
*********************/
@font-face {
  font-family: "M-Medium";
  src: url("/fonts/Montserrat-Medium.ttf");
}

@font-face {
  font-family: "M-Regular";
  src: url("/fonts/Montserrat-Regular.ttf");
}

@font-face {
  font-family: "M-SemiBold";
  src: url("/fonts/Montserrat-SemiBold.ttf");
}

@font-face {
  font-family: "M-Black";
  src: url("/fonts/Montserrat-Black.ttf");
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: #f3f1ec;
  overflow-x: hidden;
  font-size: 1rem;
}

a {
  text-decoration: none;
  color: black;
}

.mainHeader {
  width: 100vw;
  height: 50px;
  padding: 1rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 1;
}

.mainHeader_logo {
  font-family: "M-Black";
  font-size: 1.5rem;
}

.mainHeader_nav {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 100%;
}

.mainHeader_nav .menu {
  width: 100%;
  display: none;
  font-family: "M-Medium";
  text-decoration: none;
  list-style: none;
}

.mainHeader_nav .hamburger {
  cursor: pointer;
}

.mainHeader_nav .hamburger span {
  width: 35px;
  height: 3px;
  background-color: black;
  opacity: 1;
  display: block;
  margin: 0.5rem 0rem;
}

.mainHeader_mobileMenu {
  display: none;
  font-family: "M-Medium";
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  list-style: none;
  text-decoration: none;
  height: 100px;
}

.mainHeader_mobileMenu .menu-item {
  background-color: black;
  color: white;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.9rem 0rem;
}

.mainHeader_signupBtn {
  display: none;
  font-family: "M-SemiBold";
  color: white;
  width: 150px;
  height: 50px;
  border-radius: 2rem;
  background-color: black;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mainHeader_signupBtn .primaryBtn {
  color: white;
}

@media screen and (min-width: 1024px) {
  .mainHeader {
    padding: 1.5rem;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
  .mainHeader_logo {
    font-family: "M-Black";
    font-size: 2rem;
  }
  .mainHeader_nav {
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: stretch;
        -ms-flex-pack: stretch;
            justify-content: stretch;
    -ms-flex-line-pack: center;
        align-content: center;
    width: 100%;
  }
  .mainHeader_nav .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .mainHeader_nav .hamburger {
    display: none;
  }
  .mainHeader_signupBtn {
    display: -ms-grid;
    display: grid;
    -ms-grid-column-align: end;
        justify-self: end;
  }
}

.heroSection {
  width: 100vw;
  height: 380px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url("../img/hero-bg.jpg");
  background-size: cover;
  background-position-y: 7rem;
  background-repeat: no-repeat;
  position: relative;
  margin-bottom: 3rem;
}

.heroSection::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: black;
}

.heroSection_inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.heroSection_inner h1 {
  font-family: "M-SemiBold";
  font-size: 2rem;
  text-align: center;
}

.heroSection_inner p {
  margin-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "M-Black";
  width: 200px;
  height: 50px;
  background-color: black;
  color: white;
  border-radius: 2rem;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .heroSection {
    height: 450px;
  }
  .heroSection_inner h1 {
    font-size: 2.5rem;
    width: 80%;
  }
}

@media screen and (min-width: 1024px) {
  .heroSection {
    height: 90vh;
    background-position-y: 0rem;
  }
  .heroSection_inner h1 {
    font-size: 3rem;
  }
}

@media screen and (min-width: 1824px) {
  .heroSection_inner h1 {
    font-size: 4rem;
  }
}

.donationSection {
  width: 100vw;
  height: 330px;
  padding: 1rem;
}

.donationSection_desc {
  text-align: center;
}

.donationSection_desc h1 {
  font-family: "M-Medium";
  font-size: 1.5rem;
  text-align: center;
  padding-bottom: 0.3rem;
}

.donationSection_desc p {
  font-family: "M-Regular";
  font-size: 0.8rem;
}

.donationSection_images {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  padding: 1.5rem 1rem;
}

.donationSection_images .image {
  width: 100px;
  height: 50%;
  background-image: url("../img/donation.jpg");
  background-size: cover;
  border: 3px solid black;
  border-radius: 1rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-grid-row-align: center;
      align-self: center;
}

.donationSection_images .imageCenter {
  width: 100%;
  height: 150px;
  background-image: url("../img/donation.jpg");
  background-size: cover;
  border: 3px solid black;
  border-radius: 1rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-column-align: center;
      justify-self: center;
}

@media screen and (min-width: 768px) {
  .donationSection_desc h1 {
    font-size: 2rem;
  }
  .donationSection_images {
    padding-top: 2.3rem;
  }
  .donationSection_images .image {
    width: 60%;
  }
}

@media screen and (min-width: 1024px) {
  .donationSection {
    height: 80vh;
    margin-bottom: 2rem;
  }
  .donationSection_images .image {
    width: 60%;
  }
  .donationSection_images .imageCenter {
    height: 300px;
  }
}

.rewardSection {
  width: 100vw;
  height: 350px;
  padding: 1rem;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.rewardSection_desc {
  text-align: center;
}

.rewardSection_desc h1 {
  font-family: "M-Medium";
  font-size: 1.5rem;
  text-align: center;
  padding-bottom: 0.3rem;
}

.rewardSection_desc p {
  font-family: "M-Regular";
  font-size: 0.8rem;
}

.rewardSection_img {
  padding: 1.5rem 1rem;
  width: 100%;
  height: 200px;
  background-image: url("../img/rewards.jpg");
  background-size: cover;
  border: 3px solid black;
}

@media screen and (min-width: 768px) {
  .rewardSection_desc h1 {
    font-size: 2rem;
  }
}

@media screen and (min-width: 1024px) {
  .rewardSection {
    height: 60vh;
  }
  .rewardSection_img {
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.processSection {
  width: 100vw;
  height: 80vh;
  padding: 1rem;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 2rem;
}

.processSection h1 {
  font-family: "M-Medium";
  font-size: 1.5rem;
  text-align: center;
}

.processSection_processes {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}

.processSection_processes .process {
  width: 100%;
  height: 100%;
  background-color: white;
  -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
  padding: 1.5rem 1rem 2.5rem 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.processSection_processes .process .img1 {
  width: 40px;
  height: 40px;
  background-image: url("../img/icon1.png");
  background-size: cover;
}

.processSection_processes .process .img2 {
  width: 40px;
  height: 40px;
  background-image: url("../img/icon2.png");
  background-size: cover;
}

.processSection_processes .process .img3 {
  width: 40px;
  height: 40px;
  background-image: url("../img/icon3.png");
  background-size: cover;
}

.processSection_processes .process .headerText {
  font-family: "M-SemiBold";
  font-size: 1.2rem;
  text-align: center;
  padding-top: 0.5rem;
}

.processSection_processes .process .subText {
  font-family: "M-Regular";
  font-size: 0.8rem;
  text-align: center;
  padding: 0.5rem 0rem;
}

@media screen and (min-width: 768px) {
  .processSection {
    height: 50vh;
  }
  .processSection h1 {
    font-size: 2rem;
  }
  .processSection_processes {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
  }
  .processSection_processes .process {
    padding: 1.5rem 1rem 2.5rem 1rem;
    height: 100%;
  }
}

@media screen and (min-width: 1024px) {
  .processSection {
    height: 90vh;
    margin-bottom: 3rem;
  }
  .processSection_processes .process {
    height: 400px;
    padding-top: 0rem;
    padding-bottom: 5rem;
  }
  .processSection_processes .process .headerText {
    font-size: 1.4rem;
  }
  .processSection_processes .process .img1,
  .processSection_processes .process .img2,
  .processSection_processes .process .img3 {
    width: 60px;
    height: 60px;
  }
}

.locationSection {
  width: 100vw;
  height: 50vh;
  padding: 1rem;
  display: -ms-grid;
  display: grid;
  margin-bottom: 2rem;
}

.locationSection_desc {
  text-align: center;
}

.locationSection_desc h1 {
  font-family: "M-Medium";
  font-size: 1.5rem;
  padding-bottom: 0.5rem;
}

.locationSection_desc p {
  font-family: "M-Regular";
  font-size: 0.8rem;
}

.locationSection_form .locationForm {
  height: 100%;
  padding: 1.4rem 2rem 1rem 2rem;
  background-color: white;
  -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
  border-radius: 4rem;
}

.locationSection_form .locationForm label {
  font-family: "M-Regular";
}

.locationSection_form .locationForm input[type="text"] {
  width: 100%;
  outline: none;
  border: 2px solid #ccc;
  border-radius: 2rem;
  padding: 0.5rem 1rem;
  font-family: "M-Semibold";
  font-size: 1rem;
  margin-top: 0.2rem;
}

.locationSection_form .locationForm .btn {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  font-family: "M-Semibold";
  padding: 1rem 0rem 0rem 0rem;
  cursor: pointer;
}

.locationSection_form .locationForm .btn p {
  position: relative;
}

.locationSection_form .locationForm .btn p::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: black;
}

@media screen and (min-width: 768px) {
  .locationSection {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    padding: 2rem 1.5rem 0rem 1.5rem;
  }
  .locationSection_desc {
    padding-right: 1rem;
    text-align: start;
    padding-top: 1rem;
  }
  .locationSection_desc h1 {
    font-size: 2rem;
  }
  .locationSection_form {
    height: 60%;
  }
}

.footer {
  width: 100vw;
  height: 50vh;
  color: white;
  background-color: black;
  padding: 1.5rem 1rem;
}

.footer_top {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

.footer_top .col-2 {
  -ms-grid-column: 1;
  grid-column: 1;
}

.footer_top_col {
  margin-bottom: 1rem;
  padding-left: 1rem;
}

.footer_top_col h2 {
  font-family: "M-Semibold";
  position: relative;
  margin-bottom: 1rem;
}

.footer_top_col h2:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 20%;
  height: 2px;
  background-color: white;
}

.footer_top_col p {
  font-family: "M-Regular";
  font-size: 0.8rem;
}

.footer_top_logo {
  -ms-grid-column: 2;
  grid-column: 2;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer_top_logo p {
  font-family: "M-Black";
  font-size: 1.5rem;
}

.footer_btm {
  padding-top: 1rem;
}

.footer_btm p {
  font-family: "M-SemiBold";
  font-size: 0.8rem;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .footer {
    height: 35vh;
    padding-top: 2rem;
  }
  .footer_top {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    margin-bottom: 1rem;
  }
  .footer_top .col-1 {
    -ms-grid-column: 1;
    grid-column: 1;
  }
  .footer_top .col-2 {
    -ms-grid-column: 2;
    grid-column: 2;
  }
  .footer_top_logo {
    -ms-grid-column: 3;
    grid-column: 3;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.rewardsHeroSection {
  width: 100vw;
  height: 280px;
  text-align: center;
  padding: 2rem 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.rewardsHeroSection_inner h1 {
  font-family: "M-SemiBold";
  font-size: 2rem;
  text-align: center;
}

.rewardsHeroSection_inner p {
  margin-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "M-Regular";
  font-size: 0.9rem;
}

.rewardsOfferSection {
  width: 100vw;
  height: 60vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.rewardsOfferSection p {
  text-align: center;
  font-family: "M-SemiBold";
  font-size: 1.5rem;
  text-transform: capitalize;
  text-decoration: underline;
}

@media screen and (min-width: 1024px) {
  .rewardsOfferSection {
    height: 80vh;
  }
  .rewardsOfferSection p {
    font-size: 1.8rem;
    padding-bottom: 1rem;
  }
}

.slideshow-container {
  width: 100%;
  position: relative;
  margin: auto;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .slideshow-container {
    width: 90%;
    height: 80%;
  }
}

@media screen and (min-width: 1024px) {
  .slideshow-container {
    width: 95%;
    height: 95%;
  }
}

.mySlides {
  display: none;
  padding: 1rem;
  padding-top: 0rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.divImage1 {
  width: 100%;
  height: 200px;
  background-image: url("../img/goofy.jpg");
  background-size: cover;
  border: 4px solid black;
  border-radius: 2rem;
}

@media screen and (min-width: 1024px) {
  .divImage1 {
    height: 350px;
  }
}

.divImage2 {
  width: 100%;
  height: 200px;
  background-image: url("../img/resort.jpg");
  background-size: cover;
  border: 4px solid black;
  border-radius: 2rem;
}

@media screen and (min-width: 1024px) {
  .divImage2 {
    height: 350px;
  }
}
/*# sourceMappingURL=style.css.map */