/*********************
    BREAKPOINTS
*********************/
@font-face {
  font-family: "M-Medium";
  src: url("/fonts/Montserrat-Medium.ttf");
}

@font-face {
  font-family: "M-Regular";
  src: url("/fonts/Montserrat-Regular.ttf");
}

@font-face {
  font-family: "M-SemiBold";
  src: url("/fonts/Montserrat-SemiBold.ttf");
}

@font-face {
  font-family: "M-Black";
  src: url("/fonts/Montserrat-Black.ttf");
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: #f3f1ec;
  overflow-x: hidden;
  font-size: 1rem;
}

a {
  text-decoration: none;
  color: black;
}

.mainHeader {
  width: 100vw;
  height: 50px;
  padding: 1rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 1;
}

.mainHeader_logo {
  font-family: "M-Black";
  font-size: 1.5rem;
}

.mainHeader_nav {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 100%;
}

.mainHeader_nav .menu {
  width: 100%;
  display: none;
  font-family: "M-Medium";
  text-decoration: none;
  list-style: none;
}

.mainHeader_nav .hamburger {
  cursor: pointer;
}

.mainHeader_nav .hamburger span {
  width: 35px;
  height: 3px;
  background-color: black;
  opacity: 1;
  display: block;
  margin: 0.5rem 0rem;
}

.mainHeader_mobileMenu {
  display: none;
  font-family: "M-Medium";
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  list-style: none;
  text-decoration: none;
  height: 100px;
}

.mainHeader_mobileMenu .menu-item {
  background-color: black;
  color: white;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.9rem 0rem;
}

.mainHeader_signupBtn {
  display: none;
  font-family: "M-SemiBold";
  color: white;
  width: 150px;
  height: 50px;
  border-radius: 2rem;
  background-color: black;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 1024px) {
  .mainHeader {
    padding: 1.5rem;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
  .mainHeader_logo {
    font-family: "M-Black";
    font-size: 2rem;
  }
  .mainHeader_nav {
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: stretch;
        -ms-flex-pack: stretch;
            justify-content: stretch;
    -ms-flex-line-pack: center;
        align-content: center;
    width: 100%;
  }
  .mainHeader_nav .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .mainHeader_nav .hamburger {
    display: none;
  }
  .mainHeader_signupBtn {
    display: -ms-grid;
    display: grid;
    -ms-grid-column-align: end;
        justify-self: end;
  }
}

.heroSection {
  width: 100vw;
  height: 380px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url("../img/hero-bg.jpg");
  background-size: cover;
  background-position-y: 7rem;
  background-repeat: no-repeat;
  position: relative;
  margin-bottom: 3rem;
}

.heroSection::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: black;
}

.heroSection_inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.heroSection_inner h1 {
  font-family: "M-SemiBold";
  font-size: 2rem;
  text-align: center;
}

.heroSection_inner p {
  margin-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "M-Black";
  width: 200px;
  height: 50px;
  background-color: black;
  color: white;
  border-radius: 2rem;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .heroSection {
    height: 450px;
  }
  .heroSection_inner h1 {
    font-size: 2.5rem;
    width: 80%;
  }
}

@media screen and (min-width: 1024px) {
  .heroSection {
    height: 90vh;
    background-position-y: 0rem;
  }
  .heroSection_inner h1 {
    font-size: 3rem;
  }
}

@media screen and (min-width: 1824px) {
  .heroSection_inner h1 {
    font-size: 4rem;
  }
}

.donationSection {
  width: 100vw;
  height: 330px;
  padding: 1rem;
}

.donationSection_desc {
  text-align: center;
}

.donationSection_desc h1 {
  font-family: "M-Medium";
  font-size: 1.5rem;
  text-align: center;
  padding-bottom: 0.3rem;
}

.donationSection_desc p {
  font-family: "M-Regular";
  font-size: 0.8rem;
}

.donationSection_images {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  padding: 1.5rem 1rem;
}

.donationSection_images .image {
  width: 100px;
  height: 50%;
  background-image: url("../img/donation.jpg");
  background-size: cover;
  border: 3px solid black;
  border-radius: 1rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-grid-row-align: center;
      align-self: center;
}

.donationSection_images .imageCenter {
  width: 100%;
  height: 150px;
  background-image: url("../img/donation.jpg");
  background-size: cover;
  border: 3px solid black;
  border-radius: 1rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-column-align: center;
      justify-self: center;
}

@media screen and (min-width: 768px) {
  .donationSection_desc h1 {
    font-size: 2rem;
  }
  .donationSection_images {
    padding-top: 2.3rem;
  }
  .donationSection_images .image {
    width: 60%;
  }
}

@media screen and (min-width: 1024px) {
  .donationSection {
    height: 80vh;
    margin-bottom: 2rem;
  }
  .donationSection_images .image {
    width: 60%;
  }
  .donationSection_images .imageCenter {
    height: 300px;
  }
}

.rewardSection {
  width: 100vw;
  height: 350px;
  padding: 1rem;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.rewardSection_desc {
  text-align: center;
}

.rewardSection_desc h1 {
  font-family: "M-Medium";
  font-size: 1.5rem;
  text-align: center;
  padding-bottom: 0.3rem;
}

.rewardSection_desc p {
  font-family: "M-Regular";
  font-size: 0.8rem;
}

.rewardSection_img {
  padding: 1.5rem 1rem;
  width: 100%;
  height: 200px;
  background-image: url("../img/rewards.jpg");
  background-size: cover;
  border: 3px solid black;
}

@media screen and (min-width: 768px) {
  .rewardSection_desc h1 {
    font-size: 2rem;
  }
}

@media screen and (min-width: 1024px) {
  .rewardSection {
    height: 60vh;
  }
  .rewardSection_img {
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.processSection {
  width: 100vw;
  height: 40vh;
  padding: 1rem;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.processSection h1 {
  font-family: "M-Medium";
  font-size: 1.5rem;
  text-align: center;
  padding-bottom: 1rem;
}

.processSection_processes {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}

.processSection_processes .process {
  width: 100%;
  height: 100%;
  background-color: white;
  -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
  padding: 2.5rem 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.processSection_processes .process .img1 {
  width: 40px;
  height: 40px;
  background-image: url("../img/icon1.png");
  background-size: cover;
}

.processSection_processes .process .img2 {
  width: 40px;
  height: 40px;
  background-image: url("../img/icon2.png");
  background-size: cover;
}

.processSection_processes .process .img3 {
  width: 40px;
  height: 40px;
  background-image: url("../img/icon3.png");
  background-size: cover;
}

.processSection_processes .process .headerText {
  font-family: "M-SemiBold";
  font-size: 1.2rem;
  text-align: center;
}

.processSection_processes .process .subText {
  font-family: "M-Regular";
  font-size: 0.8rem;
  text-align: center;
  padding: 0.5rem 0rem;
}
/*# sourceMappingURL=style.css.map */