.forgetPasswordSection {
  height: 90vh;
  margin: 5%;
  display: flex;
}

.forgetpwd-divLeft,
.forgetpwd-divRight {
  width: 100%;
  position: relative;
}

.forgetpwd-divRight img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 75%;
}

.forgetPasswordSection h1 {
  font-family: "M-SemiBold";
  font-size: 2.0rem;
  padding-bottom: 0.3rem;
  margin-top: 20%;
}

.forgetPassword-content p {
  font-family: "M-Medium";
  font-size: 1.2rem;
}

.forgetpwd-divbox form {
  position: relative;
  height: fit-content;
  overflow: auto;
}

.forgetpwd-btn {
  background-color: white;
  border: none;
  font-family: "M-SemiBold";
  font-size: 2.0rem;
  float: right;
}

.forgetpwd-btn:hover {
  color: grey;
}

.editprofile-section {
  height: inherit;
  margin: 5%;
  /* overflow: scroll; */
}

.editprofile-topdiv,
.editprofile-botdiv {
  height: fit-content;
  width: 90%;
  margin: auto;
}

.profile-pic {
  background-color: white;
  margin: auto;
  width: 15vw;
  height: 15vw;
  padding: 10px;
  border-radius: 50%;
}

.profile-img {
  border-radius: 50%;
  width: 100%;
}

.profilepic-container h2 {
  font-family: "M-Medium";
  font-size: 1.5rem;
  padding-bottom: 0.3rem;
  text-align: center;
  margin-top: 10px;
}

.editprofile-btn {
  margin: auto;
  display: grid;
  -ms-grid-column-align: end;
  justify-self: end;
  font-family: "M-SemiBold";
  font-size: 1rem;
  color: white;
  width: 150px;
  height: 50px;
  border-radius: 2rem;
  background-color: black;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.editprofile-btn-div {
  margin: auto;
  width: fit-content;
  display: flex;
  justify-content: center;
}

.profile-save-btn,
.cancel-changes-btn {
  display: none;
  margin-left: 10px;
  margin-right: 10px;
}

.edit-error-field {
  text-align: center;
  color: red;
  font-family: "M-Regular";
  font-style: italic;
  font-size: 1.0em;
  margin-top: 10px;
  display: none;
}

.editprofile-botleft,
.editprofile-botright {
  width: 50%;
  height: 100%;
  padding: 1%;
}

.editprofile-botleft {
  float: left;
}

.editprofile-botright {
  float: right;
}

.editprofile-para-header {
  font-family: "M-SemiBold";
  font-size: 1.0rem;
  text-align: center;
  margin-bottom: 5px;
}

.profile-left-line {
  border-top: 1px solid black;
}

.profile-right-line {
  border-top: 1px solid black;
}

.editprofile-divbox,
.forgetpwd-divbox {
  /* border: 1px solid black; */
  background-color: white;
  margin: auto;
  margin-top: 20px;
  padding: 20px 50px 20px 50px;
  width: 80%;
  height: fit-content;
  border-radius: 20px;
  -webkit-box-shadow: 5px 5px 5px rgb(0 0 0 / 20%);
  box-shadow: 5px 5px 5px rgb(0 0 0 / 20%);
}

.forgetpwd-divbox {
  margin: 0;
  margin-top: 5%;
}

.editprofile-divbox p,
.forgetpwd-divbox p {
  font-family: "M-Regular";
  font-size: 1.0rem;
}

.profile-fields,
.forgetpwd-field {
  font-family: "M-SemiBold";
  font-size: 1rem;
  border: 2px solid #ccc;
  background-color: white;
  width: 100%;
  border-radius: 20px;
  padding: 5px;
  padding-left: 15px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.articleSection {
  height: 90vh;
  margin: 5%;
}

.article-headerdiv {
  text-align: center;
}

.article-headerdiv h1 {
  font-family: "M-SemiBold";
  font-size: 1.5rem;
}

.article-headerdiv p {
  font-family: "M-Regular";
  font-size: 1.0rem;
}

.article-scrolldiv {
  width: 100%;
  height: 100%;
  overflow-x:auto;
  display: flex;
  overflow-x: auto;
}

.article-divbox {
  flex: 0 0 auto;
  height: 80%;
  width: 25vw;
  background-color: white;
  border-radius: 20px;
  margin: 1%;
  -webkit-box-shadow: 5px 5px 5px rgb(0 0 0 / 20%);
  box-shadow: 5px 5px 5px rgb(0 0 0 / 20%);
}

.article-img {
  border-radius: 20px 20px 0px 0px;
  background-color: black;
  height: 40%;
  width: inherit;
  overflow: hidden;
}

.article-img img {
  width: inherit;
}

.article-content {
  height: 60%;
  padding: 20px;
  margin: auto;
}

.article-cate {
  font-family: "M-Regular";
  font-size: 0.8rem;
  color: grey;
  text-decoration: underline;
}

.article-title {
  font-family: "M-SemiBold";
  font-size: 1.2rem;
}

.article-author {
  font-family: "M-Regular";
  font-size: 1.0rem;
}

.article-exc {
  font-family: "M-Regular";
  font-size: 0.8rem;
  text-align: justify;
  position: relative;
}

.reading-tag {
  position: absolute;
  right: 0;
  text-decoration: underline;
}